.site-header{
	@extend .clear;
	background:#fff;

	.site-title{
		margin:1em 0;
		display:block;
		float:left;
		width:12em;

		img{
			width:100%;
		}
	}

	.site-nav-c{
		width:33em;
		float:right;
		margin-top:1.5em;

		ul{
			margin:0;
			padding:0;

			li{
				list-style:none;
				margin:0;
				display:inline-block;
				text-transform:uppercase;
				
				a{
					color:#000;
					text-decoration:none;
					display:block;
					padding:2.25em 1em 1em;
					transition:.2s;

					&:hover, &:active{
						font-weight:bold;
					}
				}
			}
		}
	}
}