.hero{
    height:25em;
    position: relative;
    /*box-shadow:inset 0 0 0 2000px rgba(0,0,0,.4);*/

    &:after{
        content:"";
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        background: rgba(0,0,0,.4);
    }

    @media #{$bp-med}{
        height:65vh;
    }

    .container{
	    height: 100%;
    }

    h1{
        text-align: center;
        color:#fff;
        font-weight:800;
        text-transform:uppercase;
        font-size:2em;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        width: 100%;
        position:absolute;
        z-index:1;
        bottom:2rem;


        @media #{$bp-med}{
        font-size:4em;
        }
    }   
}


.article-inner{


    article{
        @extend .clear;
        width:100%;
        background:#fff;
        box-shadow:2px 2px 10px rgba(0,0,0,.2);
        padding: 3em 1em 2em 1em;

        @media #{$bp-after-med}{
            padding: 3em 4em 2em 3em;
        }
    
        @media #{$bp-lg}{
            width:65%;
            float:left;
        }

        .content-margin-fixer{
			max-width: 100%;
			margin: 0;

			@media #{$bp-lg}{
				max-width: 45em;
				margin: 0;
				float: right;
			}
		}
    }

    .image-divider{
        @extend .clear;
        
        .div-image{
            width:100%;
            height:12em;
        }

        @media #{$bp-med}{
            &.total-2{
                .div-image{
                    width:50%;
                    float:left;
                }
            }

            &.total-3{
                .div-image{
                    width:33.33%;
                    float:left;
                }
            }
        }
    }

    .article-content{
        width:100%;
    

        h2{
            color:$c-orange;
            font-weight:700;
            text-transform:uppercase;
            margin-top:2em;

        }

        div.container{
            padding:0 1.5em;

            @media #{$bp-med}{
                padding:0;
            }
        }


        p{
            font-size:1.2em;

            @media #{$bp-med}{
		    font-size:1.1em;
    	    }
        }
    }
}
