html,body{
	margin:0;
	padding:0;
	color:$c-base;
	position:relative;
	font-size:16px;
	font-family: $f-base; 
}

*{
	box-sizing:border-box;
}

a{
	color:$c-orange;
	text-decoration:none;

	&:hover, &:active{
		color:$c-purple;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $f-header;
}

p{
	line-height:1.6em;
}

.page{
	background:$c-lightgrey;
}


.container{
	max-width:75rem;
	margin:0 auto;
	position: relative;

	&.mpad{
		padding:0 1em;

		@media #{$bp-min-pad}{
			padding:0;
		}
	}
}

.slideshow{
	width:100%;
	height:25em;
	position:relative;
	overflow:hidden;

	@media #{$bp-lg}{
		height:65vh;
	}

	.slideshow-container{
		width:100vw;
		height:100%;
		position:relative;

		.slide{
			width:100vw;
			height:100%;
			position:absolute;
			z-index:0;
			top:0;
			left:0;
			display:block;
			opacity:0;

			&.active{
				opacity:1;
				z-index:2;
			}

			h2{
				width:100%;
				text-align:center;
				position:absolute;
				bottom:2em;
				color:#fff;
				font-size:2em;
				text-transform:uppercase;
				text-shadow:2px 2px 5px rgba(0,0,0,.5);
				font-size:1.2em;
				padding:0 1rem;

				@media #{$bp-lg}{
					font-size:2em;
				}

				&.darkgrey{
					padding:1em 1rem 2.4em;
					background:rgba(0,0,0,.5);
					bottom:-1em;
				}

				span{
					display:block;
					font-weight:bold;
					font-size:1.4em;

					@media #{$bp-lg}{
						font-size:2.2em;
					}
				}
			}
		}
	} 

	.overlay-text{
		width:100%;
		height:100%;
		bottom:0;
		left:0;
		position:absolute;
		z-index:10;
		text-transform:uppercase;
		background:rgba(0,0,0,.5);

		.overlay-content{
			position:absolute;
			bottom:0;
			left:0;
			max-width:100%;
			text-shadow:2px 2px 5px rgba(0,0,0,.5);
			color:#fff;
			padding:1em;
			text-align:center;

			@media #{$bp-lg}{
				text-align:left;
				max-width:70%;
				max-width:57em;
				padding:1em 5em 4em 5em;
			}
		}

		h1{
			font-size:2em;
			margin: 0 0 .8rem 0;
			text-shadow:2px 2px 5px rgba(0,0,0,.5);

			@media #{$bp-lg}{
				font-size:2.8em;
			}
		}

		p{
			margin:0;
			padding:0;
			clear:both;
			text-shadow:2px 2px 5px rgba(0,0,0,.5);

			@media #{$bp-lg}{
				font-size:1.4em;
			}
		}

		.blue-button{
			margin-top:1em;
			max-width:14em;
			margin:1em auto;

			@media #{$bp-lg}{
				margin:1em 0 0;
			}
		}
	}

	.slideshow-nav{
		position:absolute;
		z-index:15;
		top:50%;
		display:block;

		&#prev{
			left:3em;
		}

		&#next{
			right:3em;
		}

	}

	.dots{
		position:absolute;
		z-index:11;
		bottom:2em;
		left:0;
		margin:0;
		padding:0;
		width:100%;
		text-align:center;

		li{
			display:inline-block;
			width:.9em;
			height:.9em;
			border-radius:50%;
			border:2px solid #fff;
			background:transparent;
			margin:0 .3em;
			cursor:pointer;

			&:hover, &:active, &.active{
				background:#fff;
			}
		}
	}
}

.video-overlay{
	width:100%;
	height:100%;
	position:absolute;
	z-index:4;
	background:rgba(0,0,0,.8);
	top:0;
	overflow:hidden;

	iframe{
		@media #{$bp-lg}{
			max-height:65vh;
		}
	}
}

.close-wrapper{
	position:relative;

}
.video-close{
	position:absolute;
	top:100%;
	color:#fff;
	background:#000;
	color:#fff;
	display:none;
	width:8em;
	padding:.5em 1em;
	border-radius:0 0 5px 5px;
	left:50%;
	margin-left:-4em;
	text-align:center;
	cursor:pointer;
}

.video-play{
	width:100px;
	height:70px;
	background:url(../images/play.png) no-repeat;
	background-position:0 -70px;
	position:absolute;
	top:1em;
	right:50%;
	margin:0 -50px 0 0;
	cursor:pointer;

	@media #{$bp-lg}{
		top:auto;
		bottom:2em;
		right:2em;
		margin:0;
	}

	&:hover{
		background-position:0 0;
	}
}

.overlink{
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
}

.blue-button{
	display:block;
	color:#fff;
	padding:1rem;
	text-align:center;
	max-width:100%;
	background:$c-lightblue;
	font-size:1.2em;
	box-shadow:3px 3px 6px rgba(0, 0, 0, 0.3);
	transition:.2s;

	&:hover, &:active{
		color:#fff;
		background:$c-purple;
	}

	@media #{$bp-lg}{
		max-width:18rem;
	}
}

.timeline{
	width:100%;
	position:relative;
	margin:2em 0;

	.timeline-item{
		@extend .clear;

		position:relative;
		margin-bottom:2em;
		padding-bottom:2em;
		border-bottom:1px solid $c-grey;

		&:last-child{
			border:0;
		}

		img{
			width:100%;
			height:auto;

			@media #{$bp-lg}{
				width:calc(40% - 1em);
				float:left;
				margin:.2em 1em 0 0;
			}
		}

		h3{
			margin-top:0;
			padding-top:0;
		}

		.date{
			color:$c-darkgrey;
			display:block;
			margin:1em 0;
		}
	}

	.timeline-all{
		@extend .blue-button;
	}
}
