.pagination {
    clear: both;
    margin: 1em 0;
    padding: 0;
    text-align: center;

    li{
	    display: inline-block;
	    list-style: none;
	    font-size: .95em;
	    margin: 0 .1em 1em;
	    border: 1px solid #f2f2f2;
	    background: #f2f2f2;
	    border-radius: 5px;
	    background: linear-gradient(to bottom, #d1d1d1 10%, #ddd 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='$c-grey',GradientType=0 );
	    transition: .2s;

    	&.current {
		    padding: .5em .8em;
		    color: #fff;
		    box-shadow: inset -1px -1px 8px rgba(0, 0, 0, 0.3);
		    background:$c-purple;
		}

		&.next a {
		    background-image: url(../images/arrows.png);
		    background-position: -41px -35px;
		    padding-right: 1.3em;
		}

		&.previous a {
		    background-image: url(../images/arrows.png);
		    background-position: 0 -35px;
		    padding-right: 1.3em;
		}

		&.last a {
		    background-image: url(../images/arrows.png);
		    background-position: -41px 0;
		    padding-right: 1.3em;
		}

		&.first a {
		    background-image: url(../images/arrows.png);
		    background-position: 0 0;
		    padding-right: 1.3em;
		}

		a{
		    display: block;
		    padding: .5em .8em;
		    color: #6d6d6d;
		    cursor: pointer;

		    &:hover, &:active{
			    color: #fff;
			    box-shadow: inset -1px -1px 8px rgba(0, 0, 0, 0.3);
			    background-color:$c-purple;
			    text-decoration:none;
	    		border-radius: 5px;
		    }	
		}
	}
}