.site-footer{
	@extend .clear;
	position: relative;
	background:#dddddd;
	padding: 0 0 2em 0;;
    box-shadow:0px -4px 10px rgba(0,0,0,.2);
    z-index:100;
    clear:both;


    div.container{
        padding:0 1rem;
        max-width:75rem;

    }

    .footer-cta{
        width:100%;
        text-align:center;

        @media #{$bp-lg}{
            width:50%;
            float:left;
            text-align:left;
        }

        a{

            &.blue-button{
                border:none;
                width:100%;
                max-width:11em;
                margin: 0 auto;
                position:relative;
                padding-left:3em;

                @media #{$bp-lg}{
                    width:10em;
                    float:left;
                    margin-top: 1.2em;
                }

                &:before{
                    content:"";
                    display:block;
                    width:2em;
                    height:2em;
                    position:absolute;
                    z-index:0;
                    left:1.8em;
                    top:.8em;
                    background:url(../images/logo-hand.png) no-repeat;
                    background-size:contain;
                    cursor:pointer;
                }
            }
        }
        
        h3{
            font-size: 1.5em;
            font-weight: 300;
            margin-bottom:1em;

            @media #{$bp-lg}{
                margin-bottom:0;
                width:11em;
                float:left;
                margin-right:.5em;
            }
        }

    }

    .footer-social{
        width:100%;
        text-align:center;

        @media #{$bp-lg}{
            width:50%;
            float:left;
            text-align:right;
        }

        p{
            padding-top: 2em;

            @media #{$bp-lg}{
                float:right;
                margin-right:1em;
                text-align:right;
            }
        }

        .facebook-link{
            width:27px;
            height:44px;
            background-image: url("../images/social-icons/social.png");
            background-size: 90px;
            background-position: -63px -44px;
            display:inline-block;
            margin-top:2.5em;
            margin-left:1em;
            margin-right:auto;

            &:hover,&:active{
                background-position: -63px 0;
            }

            @media #{$bp-lg}{
                margin-right:0;
            }
        }

        .twitter-link{
            width:45px;
            height:40px;
            background-image: url("../images/social-icons/social.png");
            background-size: 94px;
            margin-top:2.75em;
            display:inline-block;
            background-position: 0 -38px;
            margin-left:1em;
            margin-right:auto;

            &:hover,&:active{
                background-position: 0 3px;
            }

            @media #{$bp-lg}{
                margin-right:0;
            }
        }


        a{
            @media #{$bp-lg}{
                float:right;
            }
        }

    }
}