.form-page{
	@extend .clear;
	background:#fff;

	.form-left{
		width:100%;
		margin-bottom:2em;
		padding:0 1em;

		@media #{$bp-min-pad}{
			padding:0;
		}

		@media #{$bp-after-med}{
			width:50%;
			float:left;
			padding-right:2em;
			margin:0;

			h1{
				margin-top:4rem;
			}
		}
	}

	.form-right{
		width:100%;
		background:$c-lightblue;
		padding:0 1em;

		@media #{$bp-min-pad}{
			padding:0;
		}

		@media #{$bp-after-med}{
			width:50%;
			float:left;
			padding:0 2em;
			margin:0;
		}

		div.gform_wrapper{

			form{
			input[type="submit"]{
				background:$c-purple;
				color:#fff; 
				transition: .5s;

				&:active, &:hover{
					background: $c-orange;
					color:#fff;
				}
			}

			ul{
				li{
					margin-right:0;
					padding-right:0 !important;
				}
			}

			label{
				color:#000;
			}

			.validation_message{
				color:#fff200;
			}

			.gfield_required{
				color:#ff4d1d;
			}

			.gform_body{
				ul{
					li{
						&.gfield{

							&.gfield_error{
								background-color: rgba(255,223,224,.25);
								margin-bottom: 6px!important;
								border-top: 1px solid #fff200;
								border-bottom: 1px solid #fff200;
								padding-bottom: 6px;
								padding-top: 8px;

								&:not(.gf_left_half){
									max-width:100% !important;
								}
								&:not(.gf_right_half){
									max-width:100% !important;
								}

								label{
									color:#000;
								}

								
							}
						}
					}
				}		
			}

			
		}

		

			div.validation_error {
				color: #fff200;
				font-size: 1em;
				font-weight: 700;
				margin-bottom: 25px;
				border-top: 2px solid #fff200;
				border-bottom: 2px solid #fff200;
				padding: 16px 0;
				clear: both;
				width: 100%;
				text-align: center;
			}
		}
	}
}

.gform_confirmation_message{
	padding:2em;
	color:#fff;

	@media #{$bp-after-med}{
		min-height:40em;
	}
}

.site-body form{
	@extend .clear;
	margin:0 auto;
	padding: 2em 0;
	position:relative;

	.gform_body{
		.gform_fields{
			li{
				input[name="input_2"]{
					width:100%;
				}

				span.name_first{
					float:none;
					width:100%;
					@media #{$bp-lg}{
						width:50%;
					}
				}

				span.name_last{
					float:none;
					width:100%;
					@media #{$bp-lg}{
						width:50%;
					}
				}

				#input_1_10{
					width:100%;
				}

				input[name="input_4"]{
					width:100%;
				}

				input[name="input_5"]{
					width:100%;
				}

				input[name="input_6"]{
					width:100%;
				}

				input[name="input_7"]{
					width:100%;
				}

				input[type="checkbox"]{
					margin-top:-1px;
				}

				#input_1_9{
					#choice_1_9_0{
						height:2em;
					}
				}
			}
		}
	}
	

	label{
		text-transform:uppercase;
		font-size:.8em !important;
	}

	input[type="submit"]{
		display:block;
		background:$c-lightblue;
		border:0;
		color:#fff;
		float:left;
	    text-transform: uppercase;
	    transition:.2s;
		height: 3rem;
		padding:0em 5em;

	    &:hover{
	    	background:$c-darkblue;
	    }
	}
}

.page-template-page-form{
	.footer-cta{
		display:none;

		@media #{$bp-lg}{
			display:block;
		}
	}
}