.menu-item-has-children{
	
	&:after{
		display:none;

		@media #{$bp-lg}{
			content: "";
			width: 0; 
			height: 0; 
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 6px solid #fff;
			display: inline-block;
			margin-bottom: 0;
			margin-left: .5em;
			transition: .2s;
			transform-origin:50% 50%;
			}
	}

	&:hover,&:active{
		&:after{
			display:none;

			@media #{$bp-lg}{
				content: "";
				border-left: 6px solid red;
				display: inline-block;
				margin-bottom: 0;
				transform: rotate(90deg);
				}
		}
	}
}


.site-header{
	@extend .clear;
	background:$c-purple;
	z-index:10;
	height:8.6em;
	position: relative;
	z-index:100;
	box-shadow:0px 4px 10px rgba(0,0,0,.2);

	.header-wrap{
		@extend .clear;
		margin:0 auto;
		position:relative;
		z-index:5;
		background:$c-purple;
		height:8.6em;
	}

	.site-title{
		float:left;
		width:10em;
		margin-top:1em;
		margin-left:.6em;
		height:7.5em;
		
		@media #{$bp-after-med}{
			width:12em;
		}
	
		img{
			width:100%;			

			@media #{$bp-lg}{
				margin-left:0;
			}
		}
	}

	.site-nav-c{
		width:100%;
		top:-30em;
		position: absolute;
		z-index:0;
		left:0;
		transition:.5s;

		&.moving{
			top:-2em;
			opacity:0;
		}

		/* Mobile basic */
		&.active{
			top:8.6em;
			background:rgba(0,0,0,.8);
			padding:2em;

			ul{
				li{
					display:block;

					ul{
						margin-left:1em;
						display:block;
						position:relative;
						background:transparent;

						li{

						}
					}
				}
			}
		}

		/* Desktop basic */
		@media #{$bp-lg}{
			text-align:right;
			margin:1.5em 0 0 0;
			top:.6em;
			right:6em;
			left:auto;
			z-index: 6;
			width:50em;

			&.active{
				top:0;
			}
		}

		/* 'Join Us' button */
		 ul > li{
				&:last-child{
					@extend .blue-button;
					background:$c-orange;
					padding:0 !important;
					max-width: 100%;
					display:block;
					margin-left:0;

					a{
						color:#fff;
						display:block;
						padding:1em 2em;
					}

					@media #{$bp-lg}{
						display:inline-block;
						margin-left: 2em;
						padding:1em 2em;
						a{
							color:#fff;
						}
					}

					&:hover{
						background:$c-grey;

						a{
							color:#000;
						}
					}

					ul.sub-menu{
						li{
							a{
								display:block;
								width:100%;
								height:100%;
								color:$c-darkgrey !important;

								&:hover{
									color:#fff !important;
								}
							}
						}
					}
				}			
			}
		
		/* First level navigation */
		ul{
			margin:0;
			padding: 0;
			list-style: none;

			>li.menu-item-has-children{
				a{
					cursor:default;
				}

				@media #{$bp-lg}{
					&:hover{
						a{
							color:#000;
						}

						>a{
							color:#fff;
						}
					}
				}

				ul{
					li{
						cursor:pointer;

						a{
							cursor:pointer;
						}
					}
				}
			}

			li{
				display: inline-block;
				position: relative;
				padding:0 0 3em 0;

				span{
					display:inline-block;
				}

				@media #{$bp-lg}{
						padding: 0 1em 2em 1em;
				}

				a{
					text-transform: uppercase;
					color:#fff;
				}

				&:hover, &:active{
					ul{
						display: block;
					}

					& > a{
						color:$c-orange;
					}

				}

				&.current_page_item{
					> a{
						color:$c-orange;
					}
				}

				/* Second level navigation */
				ul{
					display: none;
					position: absolute;
					top:100%;
					right:0;
					min-width:100%;
					text-align:left;
					padding:1em 0 0 0;
					

					@media #{$bp-lg}{
						background:$c-lightgrey;
						box-shadow:2px 2px 10px rgba(0,0,0,.2);
						padding:0;
					}

					li{
						display: block;
						white-space:nowrap;
						margin:0;
						padding:0 0 1em 0;

						@media #{$bp-lg}{
							padding:0;
							color:$c-darkgrey;
							width:100%;
						}

						&:last-child{
							background:none;
							font-size:1em;
							box-shadow:none;
							padding:0;
							margin-left:0;
							display:inline-block;

							a{
								color:#fff;
								padding:.5em 2em;
								display:block;

								@media #{$bp-lg}{
									color:$c-darkgrey;
								}
								
							}
							
							&:hover{
								background:none;


								@media #{$bp-lg}{
									background:$c-orange;
									
									a{
										color:#fff;
									}

								}

							}

							@media #{$bp-lg}{
								text-align:left;
							}
						}

						a{
							color:#fff;
							text-transform:uppercase;
							display:block;
							padding:.5em 2em;

							@media #{$bp-lg}{
								color:$c-darkgrey;
							}

							&:hover{
								color:$c-orange !important;
							}
						}



						&:hover, &:active{
							background:none;

							@media #{$bp-lg}{
								background:$c-orange;
								width:100%;

							  >	a{
									color:#fff !important;
								}
							}
						}

						&.current_page_item{
							> a{
								color:$c-orange;

								&:hover, &:active{
									color:#fff;
								}
							}
						}
					}
				}
			}
		}
	}
}


#hamburger{
	position:absolute;
	z-index:501;
	top:2.5em;
	right:1em;
	background:#fff;
	padding:.5em;
	border-radius:10px;
	width:3em;
	height:3em;
	transition:background 0s;
	cursor:pointer;

	@media #{$bp-lg}{
		display:none;
	}

	span{
		display:block;
		width:100%;
		height:3px;
		border-radius:5px;
		background:#000;
		margin-bottom:.5em;
		transition:.5s;

		&:first-child{
			margin-top:4px;
		}

		&:last-child{
			margin:0;
		}
	}

	&.active{
		background:#fff;

		span{
			background:$c-base;
			position:absolute;
			margin:0;

			&:first-child{
				transform:rotate(45deg);
				transform-origin:0 0;
				position:absolute;
				top:.35em;
				left:.5em;
				bottom:auto;
			}

			&:nth-child(2){
				left:.3em;
				top:1.45em;
				transform:scale(0);
			}

			&:last-child{
				transform:rotate(-45deg);
				transform-origin:0 0;
				bottom:.3em;
				left:.3em;
			}
		}
	}
}


.s-trigger{
	display:block;
	color:#fff;
	cursor:pointer;
	background:url(../images/search-purple-header.png) no-repeat;
	padding-right:2em;
	position: absolute;
    top: 2.9em;
    right: 6em;
    width: 2.2em;
    height: 2.2em;
    z-index: 900;
    background-size: 35px;
    background-position:0 0;
    overflow: hidden;
    text-indent: -1000px;

	@media #{$bp-lg}{
		margin-right:1em;
		top: 3.2em;
		right: 0;
	}

	&:hover, &:active{
		background-position:0 -36px;
	}
}

.s-close{
	color:#fff;
	display:none;
    margin-top: 1rem;
    font-size: 2em;
    cursor:pointer;
    position: absolute;
    top: .8em;
    right: 3.2em;
    z-index: 100;

    &:hover, &:active{
    	color:$c-orange;
    }

    @media #{$bp-lg}{
    	top: 1em;
    	right:.8em;
    }
}


#search{
	@extend .clear;

	margin:1em 0;
	width:calc(100% - 4em);
	max-width:30em;
	display:none;
	position:absolute;
	z-index:100;
	right:2em;
	top:1.8em;

	@media #{$bp-after-med}{
		right:6.8em;
	}

	@media #{$bp-lg}{
		right:3.5em;
		top:2em;
	}

	label{
		display:none;
	}

	input[type="text"]{
		padding:.5em 1em;
		width:12em;
		float:left;

		@media #{$bp-after-med}{
			width:calc(100% - 2.5em);
		}
	}

	input[type="submit"]{
		width:2em;
		height:2.6em;
		float:left;
		margin-left:.5em;
		background:url(../images/search.png) no-repeat;
		overflow:hidden;
		border:0;
		text-indent:-1000px;
		display:none;
	}
}