.home-intro{
	text-align:center;
	font-size:1.2em;
	line-height:1.6em;
	font-weight:400;
	padding:3em 0;
	background: #fff;

	.container{
		max-width:55rem;
	}

	p{
		margin-top:0;
		padding: 0 1em;

		@media #{$bp-after-med}{
			padding: 0 4em;
		}

		@media #{$bp-lg}{
				padding: 0;
		}
	}

	#short-signup-errors{
		display:none;
		padding:1em;
		border:1px solid red;
		color:red;
		margin-bottom:1em;

		&.success{
			border:1px solid $c-darkblue;
			color:$c-darkblue;
		}
	}

	.signup{
		@extend .clear;
		margin:0 auto;
    	padding: 2em;
		position:relative;

		label{
			display:block;
			text-transform:uppercase;
			width: 100%;
			margin:0 0 1.5em 0;
			float:left;
			font-weight:400;
			font-size:1em !important;

			@media #{$bp-lg}{
				width:auto;
				font-size: 1.5em !important;
				margin:0 1em 0 0;
				padding-top: .3em;	
			}
		}
		
		input[type="text"]{
			display:block;
			margin-right:1em;
			font-size:.6em;
			font-weight:normal;
			float:left;
			height: 3rem;
			padding:0 1.5em;
			border:1px solid #000;


			@media #{$bp-lg}{
				display:block;
				margin-right:1em;
				font-size:.6em;
				font-weight:normal;
				float:left;
				height: 3rem;
				padding:0 1.5em;
				border:1px solid #000;
			}
		}

		input[name="join-email"]{
			width:100%;
			margin-bottom:1em;

			@media #{$bp-med}{
				width:calc(100% - 26em);
				margin-bottom:0;
			}

			@media #{$bp-lg}{
				width:16em;
			}
		}

		input[name="join-zip"]{
			width:100%;
			margin-bottom:1em;

			@media #{$bp-med}{
				width:12em;
				margin-bottom:0;
			}
		}

		input[type="submit"]{
			display:block;
			border:0;
			color:#fff;
		    text-transform: uppercase;
			height: 3rem;
			width:7em;
			padding-left:3em;
			background:transparent !important;

		}

		#short-submit{
			display:block;
			position:relative;
			height: 3rem;
			width:100%;
			float:left;
			background:$c-lightblue;
			transition:.2s;
				
			@media #{$bp-med}{
				width:7em;
			}

			&:before{
				content:"";
				display:block;
				width:2em;
				height:2em;
				position:absolute;
				z-index:0;
				left:.5em;
				top:.5em;
				background:url(../images/logo-hand.png) no-repeat;
				background-size:contain;
				cursor:pointer;
			}

		    &:hover{
		    	background:$c-purple;
		    }
		}
	}	
}



.social-feeds{ 
	width:100%;
	float:left;

	.faq-cta{
		padding-left: 0;
		text-align:center;
		margin-bottom: 4em;

		@media #{$bp-lg}{
			padding-left: 2.5em;
			text-align:left;
		}
	}

	.share-block{
		background:$c-grey;
		padding:4em 3em;

		@media #{$bp-lg}{
			padding:4em 0em 4em 3.5em;
		}

		img{
			width:100%;
			margin-bottom:1em;

			@media #{$bp-lg}{
				max-width:18em;
			}
		}
	}

	.feed-block{
		padding:1em 3em;
		display:block;

		@media #{$bp-med}{
			margin:0 auto;
		}
 
		@media #{$bp-lg}{
			padding:1em 0em 1em 3.5em;
			display:inline-block;
		}

		.facebook-feed{
			width:100%;
			margin-bottom:2em;

			@media #{$bp-after-med}{
				width:50%;
				float:left;
				padding-right:4%;
				margin-bottom:0;
			}

			@media #{$bp-lg}{
				width:100%;
				height: 550px;
				padding-right:0;
			}

			a.blue-button{
				padding-left:3em;
				position:relative;

				&:before{
					content:"";
					display:block;
					width:2em;
					height:2em;
					overflow:hidden;
					position:absolute;
					z-index:0;
					left:1em;
					top:.5em;
					background:url(../images/social-icons/social.png) no-repeat;
				    background-position: -46px -79px;
				    background-size: 80px;
					cursor:pointer;
				}
			}
		}

		.twitter-box{
			height:400px;
		}

		.twitter-feed{
			width:100%;
			margin-bottom:2em;

			@media #{$bp-after-med}{
				width:50%;
				float:left;
				margin-bottom:0;
			}

			@media #{$bp-lg}{
				width:100%;
			}

			@media #{$bp-huge}{
				padding:0;
			}

			a.blue-button{
				padding-left:3em;
				position:relative;

				&:before{
					content:"";
					display:block;
					width:2em;
					height:2em;
					overflow:hidden;
					position:absolute;
					z-index:0;
					left:1em;
					top:.7em;
					background:url(../images/social-icons/social.png) no-repeat;
				    background-position: 0 -67px;
				    background-size: 80px;
					cursor:pointer;
				}
			}

		}

		.timeline{
			.timeline-item{
				img{
					width:100%;
					float:none;
					margin:0 0 1em 0;
				}
			}
		}


		.blue-button{
			width:100%;
			margin-bottom:1rem;
			margin-top: 2rem;

		}

		.margin-fixer{
			max-width:100%;

			@media #{$bp-lg}{
			max-width:18em;
			}
		}
	}

	@media #{$bp-lg}{
			width:35%;
	}

}


.news{
	@extend .clear;
	background:$c-lightgrey;

	.news-list{
		width:100%;
		float:left;
		padding:3em 1em 2em 1em;
		box-shadow:2px 2px 10px rgba(0,0,0,.2);
		position:relative;
		z-index:1;
		background: #fff;

		@media #{$bp-after-med}{
			padding:3em 4em 2em 3em;
		}

		@media #{$bp-lg}{
			width:65%;				
		}


		.content-margin-fixer{
			max-width: 100%;
			margin: 0;

			@media #{$bp-lg}{
				max-width: 48em;
				margin: 0;
				float: right;
			}
		}

		.news-item{
			@extend .clear;
			margin-bottom:4em;
			padding-bottom:4em;
			border-bottom:2px solid $c-grey;

			@media #{$bp-lg}{
					margin-bottom:4em;
					padding-bottom:4em;
					border-bottom:2px solid $c-grey;
			}

			&:last-child{
				border:0;
			}

			.image{
				width:100%;
				height:18em;
				float:left;
				margin:0 2em 0 0;
				position:relative;	

				@media #{$bp-lg}{
						width:35%;
						height:18em;
						float:left;
						margin:0 2em 0 0;
						position:relative;
				}	
			}

			.news-blurb{
				width:100%;
				float:left;

				@media #{$bp-lg}{
						width:calc(65% - 2em);
						float:left;
						&.no-image{
							width:100%;
							float:none;
						}
				}

				h2{
					font-size:1.8em;
				}

				.date{
					color:$c-darkgrey;
				}
			}

			.read-more{
				font-weight:bold;
				display:inline-block;
				position:relative;

				&:after{
					content:"";
					width:.5em;
					height:.5em;
					border-top:2px solid $c-orange;
					border-right:2px solid $c-orange;
					transform:rotate(45deg);
					position:absolute;
					top:.4em;
					right:-1em;
					transition:.2s;
				}

				&:hover, &:active{
					&:after{
						right:-1.2em;
						border-color:$c-purple;						
					}
				}
			}
		}
	}
}

.mobile-more{
	margin:2em auto;
	max-width:80%;

	@media #{$bp-lg}{
		display:none;
	}
}

#map-area{
	position:relative;

	h2{
		width:100%;
		text-align:center;
		color:#fff;
		background:$c-orange;
		font-size:1.1em;
		text-transform:uppercase;
		padding:1em 0;
		margin:0;
		position:relative;
		z-index:10;

		@media #{$bp-lg}{
			font-size:1.8em;
		}
	}

	#map{
		width:100%;
		height:80vh;

		@media #{$bp-lg}{
			width:75%;
			float:left;
		}
	}

	.legend{
		position:absolute;
		bottom:0;
		left:0;
		background:#fff;
		padding:1em;
		z-index:99;
		width:90%;
		max-width:38em;
		font-size:.6em;

		@media #{$bp-lg}{
			font-size:1em;
			position:relative;
			bottom:auto;
			left:auto;
			width:25%;
			float:left;
			height:80vh;
			padding:3em;
			box-shadow:0 0 10px rgba(0,0,0,.5);
			z-index:1;
		}

		strong{
			display:block;
			margin-bottom:1em;
			padding-bottom:1em;
			border-bottom:2px solid $c-grey;
			text-transform:uppercase;
		}

		a.legend-more{
			display:none;

			@media #{$bp-lg}{
				display:block;
				margin-top:1em;
			}
		}

		.legend-dots{
			display:none;

			@media #{$bp-lg}{
				display:block;
				margin-top:2em;

				.dot-item{
					position:relative;
					margin-bottom:2em;
					padding-left:3em;

					.dot{
						position:absolute;
						top:0;
						left:0;
						width:1.5em;
						height:1.5em;
						border-radius:50%;

						&:before{
							content:"";
							width:.5em;
							height:.5em;
							position:absolute;
							top:.5em;
							left:.5em;
							background:#fff;
							border-radius:50%;
						}
					}
				}
			}
		}

		.grid-colors, .grid-text{
			@extend .clear;

			@media #{$bp-lg}{
				display:none;
			}
		}

		.column{
			width:25%;
			float:left;
			height:1em;
			text-align:center;

			&.won{
				background:$c-orange;
			}

			&.filed{
				background:$c-purple;
			}

			&.impounded{
				background:$c-green;
			}

			&.campaign{
				background:#000;
			}
		}
	}

	.popup{
		@extend .clear;
		
		h2{
			background:transparent;
			text-align:left;
			font-size:1.2em;
			color:#000;
			margin-top:0;
			padding:0;
			width:calc(100% - 2em);
			text-transform:none;
		}

		h3{
			font-size:1em;
		}

		.popup-image{
			img{
				width:100%;
				margin:0 0 1em 0;
			}

			p{
				width:100%;
				margin-top:0;
				font-size:.8rem;
				line-height:1rem;
			}
		}

		&.no-image{
			.popup-image{
				img{
					display:none;
				}
				
				p{
					width:100%;
					float:none;
				}
			}
		}

		.popup-close{
			width:1.5em;
			height:1.5em;
			position:absolute;
			top:.5em;
			right:.5em;
			z-index:1;
			font-weight:bold;
			cursor:pointer;
			background:#fff;
			border-radius:50%;
			text-align:center;
		}
	}
}
/*
div.leaflet-popup{
	margin-left:-200px;
	margin-top:35px;
}

div.leaflet-popup-tip-container{
	position:absolute;
	right:-1.2em;
	top:50%;
	margin-top:-.5em;

	.leaflet-popup-tip{
		transform:rotate(-90deg);
	}
}*/

.leaflet-marker-icon{
	width:1em;
	height:1.5em;

	&:after{
		content:"";
		width:2em;
		height:3em;
		display:block;
		position:absolute;
		top:-60px;
		left:-30px;
		transition:.2s;
	}

	

	&.won{
		&:after{
			width: 70px;
			height: 70px;
			background-image: url(../images/map-points/faculty-pin.png);
			background-size: 70px;
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}
	}

	&.filed{
		&:after{
			width: 70px;
			height: 70px;
			background-image: url(../images/map-points/grad-student-pin.png);
			background-size: 70px;
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}
	}

	&.impounded{
		&:after{
			width: 70px;
			height: 70px;
			background-image: url(../images/map-points/adjunct-pin.png);
			background-size: 70px;
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}
	}

	&.campaign{
		&:after{
			width: 70px;
			height: 70px;
			background-image: url(../images/map-points/campaign-pin.png);
			background-size: 70px;
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}
	}

	&.selectedMarker{
		&:after{
			transform:scale(1.2);
		}
	}
}

#voices{
	width:100%;
	position:relative;
	overflow:hidden;

	h2{
		width:100%;
		text-align:center;
		color:#fff;
		background:$c-orange;
		font-size:1.1em;
		text-transform:uppercase;
		padding:1em 0;
		margin:0;
		position:relative;
		z-index:10;
		
		@media #{$bp-lg}{
			font-size:1.8em;
		}
	}

	.voice-slider{
		@extend .clear;
		width:5000px;
	}

	.vm-left{
		position:absolute;
		top:50%;
		left:0;
		width:3em;
		height:4em;
		margin-top:-1em;
		display:none;
		z-index:800;
		cursor:pointer;
		background:rgba(0,0,0,.5);
		padding:1em;

		@media #{$bp-after-med}{
			display:block;
		}

		&:before{
			content:"";
			display:block;
			border-top:2px solid #fff;
			border-left:2px solid #fff;
			transform:rotate(-45deg);
			width:2em;
			height:2em;
		}

		&:hover,&:active{
			&:before{
				border-top:2px solid $c-orange;
				border-left:2px solid $c-orange;
			}
		}
	}

	.vm-right{
		position:absolute;
		top:50%;
		right:0;
		width:3em;
		height:4em;
		margin-top:-1em;
		display:none;
		z-index:800;
		cursor:pointer;
		background:rgba(0,0,0,.5);
		padding:1em;

		@media #{$bp-after-med}{
			display:block;
		}

		&:before{
			content:"";
			display:block;
			border-top:2px solid #fff;
			border-right:2px solid #fff;
			transform:rotate(45deg);
			width:2em;
			height:2em;
			margin-left:-1em;
		}

		&:hover,&:active{
			&:before{
				border-top:2px solid $c-orange;
				border-right:2px solid $c-orange;
			}
		}
	}

	.voice{
		position:relative;
		margin-bottom:1em;

		&.hide-mobile{
			display:none;
		}

		.mobile-image{
			width:100%;
			margin-bottom:-1em;
		}

		@media #{$bp-after-med}{
			float:left;
			height:24em;
			width:50vw;
			margin-bottom:0;

			.mobile-image{
				display:none;
			}
			
			&.hide-mobile{
				display:block;
			}
		}

		@media #{$bp-lg}{
			width:33vw;
		}

		@media #{$bp-huge}{
			width:25vw;
		}

		.voice-overlay{
			padding:1em;
			font-style:italic;
			transition:.5s;
			background:#fff;

			@media #{$bp-after-med}{
				position:absolute;
				z-index:1;
				background:rgba(0,0,0,.8);
				color:#fff;
				width:100%;
				height:100%;
				overflow:auto;
				top:0;
				left:0;
				opacity:0;
				cursor:pointer;
			}

			.voice-name{
				font-style:normal;
				display:block;
				font-weight:700;
				margin-top:1em;
			}

			.voice-long{
				display:none;
			}
		}

		&:hover, &:active{
			.voice-overlay{
				opacity:1;
			}
		}
	}
}

#voice-popup{
	display:none;
	position:fixed;
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,.5);
	z-index:800;
	padding:5vh 0;
	top:0;
	left:0;

	@media #{$bp-after-med}{
		padding:10vh 0;
	}

	.popup-trigger{
		position:absolute;
		z-index:0;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	#voice-popup-wrapper{
		width:90vw;
		height:90vh;
		background:#fff;
		position:relative;
		margin:0 auto;
		max-width:45em;
		z-index:1;

		@media #{$bp-after-med}{
			width:80vw;
			height:80vh;
		}

		#voice-popup-contents{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			overflow:scroll;
			background:#fff;

			.popup-inner{
				position:absolute;
				width:100%;
				height:100%;
				top:0;
				left:0;
				padding:1em;
				background:#fff;
				display:none;

				img{
					width:50%;
					float:left;
					margin:1.4em 1em 0 0;
				}

				p{
					font-style:italic;
				}

				.voice-short{
					display:none;
				}

				.voice-long{
					display:block;
				}

				.voice-name{
					font-weight:bold;
					margin-bottom:1em;
					clear:both;
				}

				&.transition{
					z-index:0;
				}

				&.new{
					z-index:2;
				}
			}			
		}

		.voice-prev{
			border-top:2px solid #fff;
			border-left:2px solid #fff;
			width:2em;
			height:2em;
			transform:rotate(-45deg);
			position:absolute;
			top:8em;
			left:2.5em;
			display:block;
			cursor:pointer;
			z-index:100;

			@media #{$bp-after-med}{
				width:3em;
				height:3em;
				top:50%;
				left:-3em;
				margin-top:-1.5em;
			}

			&:hover, &:active{
				border-top:2px solid $c-orange;
				border-left:2px solid $c-orange;
			}
		}

		.voice-next{
			border-top:2px solid #fff;
			border-right:2px solid #fff;
			width:2em;
			height:2em;
			transform:rotate(45deg);
			position:absolute;
			top:8em;
			right:2.5em;
			display:block;
			cursor:pointer;
			z-index:100;

			@media #{$bp-after-med}{
				width:3em;
				height:3em;
				top:50%;
				right:-3em;
				margin-top:-1.5em;
			}

			&:hover, &:active{
				border-top:2px solid $c-orange;
				border-right:2px solid $c-orange;
			}
		}

		.voice-close{
			position:absolute;
			top:.4em;
			right:1.2em;
			display:block;
			color:#000;
			text-transform:uppercase;
			font-size:2em;
			cursor:pointer;
			z-index:100;

			@media #{$bp-after-med}{
				top:0;
				right:-2rem;
				color:#fff;
			}

			&:hover, &:active{
				color:$c-orange;
			}
		}
	}
}

/* Adding background to facebook feed */
div#cff{ 
	background-color:#fff;
}

.accordion{
	list-style:none;
	margin:0;
	padding:0;

	li{
		list-style:none;
		margin:0 0 2em 0;
		padding:1em;
		border:1px solid $c-grey;
		cursor:pointer;
		background: linear-gradient(to bottom, #fff 10%, $c-lightgrey 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='$c-lightgrey',GradientType=0 );

		h3{
			color:$c-orange;
			padding-right:2rem;
			position:relative;

			&:before{
				content:"";
				display:block;
				height:1.1em;
				width:5px;
				position:absolute;
				top:0;
				right:.4em;
				z-index:1;
				background:$c-orange;
			}

			&:after{
				content:"";
				display:block;
				width:1em;
				height:5px;
				position:absolute;
				top:.4em;
				right:0;
				z-index:1;
				background:$c-orange;
			}

			&:hover, &:active{
				color:$c-purple;
				
				&:before, &:after{
					background:$c-purple;
				}
			}
		}

		.answer{
			display:none;
			margin-top:1em;
		}

		&.active{

			h3{
				&:before{
					display:none;
				}
			}

			.answer{
				display:block;
			}
		}
	}
}