/*==========================
COLORS
==========================*/
$c-base: #000;
$c-purple: #7102b2;
$c-orange: #ff4d1d;
$c-lightgrey: #f2f2f2;
$c-grey: #ddd;
$c-darkgrey: #6d6d6d;
$c-green: #4fc646;
$c-darkblue: #001299;
$c-lightblue: #00c3ff;

/*==========================
FONTS
==========================*/
$f-header: 'Montserrat', sans-serif;
$f-base: 'Open Sans', sans-serif;

/*==========================
DIMENSIONS
==========================*/


/*==========================
MEDIA QUERIES
==========================*/
$bp-med: "only screen and (min-width: 600px)";
$bp-after-med: "only screen and (min-width: 783px)"; //wp-full
$bp-footer-full: "only screen and (min-width: 830px)";
$bp-lg: "only screen and (min-width: 1024px)";
$bp-min-pad: "only screen and (min-width: 1250px)";
$bp-huge: "only screen and (min-width: 1450px)";
$bp-real-huge: "only screen and (min-width: 1600px)";