/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 23, ../../bower_components/normalize-scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 36, ../../bower_components/normalize-scss/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 50, ../../bower_components/normalize-scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 71, ../../bower_components/normalize-scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 88, ../../bower_components/normalize-scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 98, ../../bower_components/normalize-scss/_normalize.scss */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 110, ../../bower_components/normalize-scss/_normalize.scss */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 120, ../../bower_components/normalize-scss/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 132, ../../bower_components/normalize-scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 140, ../../bower_components/normalize-scss/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 155, ../../bower_components/normalize-scss/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 164, ../../bower_components/normalize-scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 200, ../../bower_components/normalize-scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 239, ../../bower_components/normalize-scss/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 247, ../../bower_components/normalize-scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 255, ../../bower_components/normalize-scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 259, ../../bower_components/normalize-scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 314, ../../bower_components/normalize-scss/_normalize.scss */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 325, ../../bower_components/normalize-scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 336, ../../bower_components/normalize-scss/_normalize.scss */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 344, ../../bower_components/normalize-scss/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 353, ../../bower_components/normalize-scss/_normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 362, ../../bower_components/normalize-scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 389, ../../bower_components/normalize-scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 407, ../../bower_components/normalize-scss/_normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 418, ../../bower_components/normalize-scss/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 433, ../../bower_components/normalize-scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 448, ../../bower_components/normalize-scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 457, ../../bower_components/normalize-scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 468, ../../bower_components/normalize-scss/_normalize.scss */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 478, ../../bower_components/normalize-scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 494, ../../bower_components/normalize-scss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 504, ../../bower_components/normalize-scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 515, ../../bower_components/normalize-scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 524, ../../bower_components/normalize-scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 537, ../../bower_components/normalize-scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 550, ../../bower_components/normalize-scss/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 559, ../../bower_components/normalize-scss/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 570, ../../bower_components/normalize-scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 575, ../../bower_components/normalize-scss/_normalize.scss */
td,
th {
  padding: 0; }

/*============================ */
/*==========================
COLORS
==========================*/
/*==========================
FONTS
==========================*/
/*==========================
DIMENSIONS
==========================*/
/*==========================
MEDIA QUERIES
==========================*/
/* line 1, ../../src/scss/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  color: #000;
  position: relative;
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

/* line 10, ../../src/scss/_base.scss */
* {
  box-sizing: border-box; }

/* line 14, ../../src/scss/_base.scss */
a {
  color: #ff4d1d;
  text-decoration: none; }
  /* line 18, ../../src/scss/_base.scss */
  a:hover, a:active {
    color: #7102b2; }

/* line 23, ../../src/scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

/* line 27, ../../src/scss/_base.scss */
p {
  line-height: 1.6em; }

/* line 31, ../../src/scss/_base.scss */
.page {
  background: #f2f2f2; }

/* line 36, ../../src/scss/_base.scss */
.container {
  max-width: 75rem;
  margin: 0 auto;
  position: relative; }
  /* line 41, ../../src/scss/_base.scss */
  .container.mpad {
    padding: 0 1em; }
    @media only screen and (min-width: 1250px) {
      /* line 41, ../../src/scss/_base.scss */
      .container.mpad {
        padding: 0; } }

/* line 50, ../../src/scss/_base.scss */
.slideshow {
  width: 100%;
  height: 25em;
  position: relative;
  overflow: hidden; }
  @media only screen and (min-width: 1024px) {
    /* line 50, ../../src/scss/_base.scss */
    .slideshow {
      height: 65vh; } }
  /* line 60, ../../src/scss/_base.scss */
  .slideshow .slideshow-container {
    width: 100vw;
    height: 100%;
    position: relative; }
    /* line 65, ../../src/scss/_base.scss */
    .slideshow .slideshow-container .slide {
      width: 100vw;
      height: 100%;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      display: block;
      opacity: 0; }
      /* line 75, ../../src/scss/_base.scss */
      .slideshow .slideshow-container .slide.active {
        opacity: 1;
        z-index: 2; }
      /* line 80, ../../src/scss/_base.scss */
      .slideshow .slideshow-container .slide h2 {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 2em;
        color: #fff;
        font-size: 2em;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        font-size: 1.2em;
        padding: 0 1rem; }
        @media only screen and (min-width: 1024px) {
          /* line 80, ../../src/scss/_base.scss */
          .slideshow .slideshow-container .slide h2 {
            font-size: 2em; } }
        /* line 96, ../../src/scss/_base.scss */
        .slideshow .slideshow-container .slide h2.darkgrey {
          padding: 1em 1rem 2.4em;
          background: rgba(0, 0, 0, 0.5);
          bottom: -1em; }
        /* line 102, ../../src/scss/_base.scss */
        .slideshow .slideshow-container .slide h2 span {
          display: block;
          font-weight: bold;
          font-size: 1.4em; }
          @media only screen and (min-width: 1024px) {
            /* line 102, ../../src/scss/_base.scss */
            .slideshow .slideshow-container .slide h2 span {
              font-size: 2.2em; } }
  /* line 115, ../../src/scss/_base.scss */
  .slideshow .overlay-text {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5); }
    /* line 125, ../../src/scss/_base.scss */
    .slideshow .overlay-text .overlay-content {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 1em;
      text-align: center; }
      @media only screen and (min-width: 1024px) {
        /* line 125, ../../src/scss/_base.scss */
        .slideshow .overlay-text .overlay-content {
          text-align: left;
          max-width: 70%;
          max-width: 57em;
          padding: 1em 5em 4em 5em; } }
    /* line 143, ../../src/scss/_base.scss */
    .slideshow .overlay-text h1 {
      font-size: 2em;
      margin: 0 0 .8rem 0;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }
      @media only screen and (min-width: 1024px) {
        /* line 143, ../../src/scss/_base.scss */
        .slideshow .overlay-text h1 {
          font-size: 2.8em; } }
    /* line 153, ../../src/scss/_base.scss */
    .slideshow .overlay-text p {
      margin: 0;
      padding: 0;
      clear: both;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }
      @media only screen and (min-width: 1024px) {
        /* line 153, ../../src/scss/_base.scss */
        .slideshow .overlay-text p {
          font-size: 1.4em; } }
    /* line 164, ../../src/scss/_base.scss */
    .slideshow .overlay-text .blue-button, .slideshow .overlay-text .timeline .timeline-all, .timeline .slideshow .overlay-text .timeline-all, .slideshow .overlay-text .site-header .site-nav-c ul > li:last-child, .site-header .site-nav-c .slideshow .overlay-text ul > li:last-child {
      margin-top: 1em;
      max-width: 14em;
      margin: 1em auto; }
      @media only screen and (min-width: 1024px) {
        /* line 164, ../../src/scss/_base.scss */
        .slideshow .overlay-text .blue-button, .slideshow .overlay-text .timeline .timeline-all, .timeline .slideshow .overlay-text .timeline-all, .slideshow .overlay-text .site-header .site-nav-c ul > li:last-child, .site-header .site-nav-c .slideshow .overlay-text ul > li:last-child {
          margin: 1em 0 0; } }
  /* line 175, ../../src/scss/_base.scss */
  .slideshow .slideshow-nav {
    position: absolute;
    z-index: 15;
    top: 50%;
    display: block; }
    /* line 181, ../../src/scss/_base.scss */
    .slideshow .slideshow-nav#prev {
      left: 3em; }
    /* line 185, ../../src/scss/_base.scss */
    .slideshow .slideshow-nav#next {
      right: 3em; }
  /* line 191, ../../src/scss/_base.scss */
  .slideshow .dots {
    position: absolute;
    z-index: 11;
    bottom: 2em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center; }
    /* line 201, ../../src/scss/_base.scss */
    .slideshow .dots li {
      display: inline-block;
      width: .9em;
      height: .9em;
      border-radius: 50%;
      border: 2px solid #fff;
      background: transparent;
      margin: 0 .3em;
      cursor: pointer; }
      /* line 211, ../../src/scss/_base.scss */
      .slideshow .dots li:hover, .slideshow .dots li:active, .slideshow .dots li.active {
        background: #fff; }

/* line 218, ../../src/scss/_base.scss */
.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  overflow: hidden; }
  @media only screen and (min-width: 1024px) {
    /* line 227, ../../src/scss/_base.scss */
    .video-overlay iframe {
      max-height: 65vh; } }

/* line 234, ../../src/scss/_base.scss */
.close-wrapper {
  position: relative; }

/* line 238, ../../src/scss/_base.scss */
.video-close {
  position: absolute;
  top: 100%;
  color: #fff;
  background: #000;
  color: #fff;
  display: none;
  width: 8em;
  padding: .5em 1em;
  border-radius: 0 0 5px 5px;
  left: 50%;
  margin-left: -4em;
  text-align: center;
  cursor: pointer; }

/* line 254, ../../src/scss/_base.scss */
.video-play {
  width: 100px;
  height: 70px;
  background: url(../images/play.png) no-repeat;
  background-position: 0 -70px;
  position: absolute;
  top: 1em;
  right: 50%;
  margin: 0 -50px 0 0;
  cursor: pointer; }
  @media only screen and (min-width: 1024px) {
    /* line 254, ../../src/scss/_base.scss */
    .video-play {
      top: auto;
      bottom: 2em;
      right: 2em;
      margin: 0; } }
  /* line 272, ../../src/scss/_base.scss */
  .video-play:hover {
    background-position: 0 0; }

/* line 277, ../../src/scss/_base.scss */
.overlink {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%; }

/* line 284, ../../src/scss/_base.scss */
.blue-button, .timeline .timeline-all, .site-header .site-nav-c ul > li:last-child {
  display: block;
  color: #fff;
  padding: 1rem;
  text-align: center;
  max-width: 100%;
  background: #00c3ff;
  font-size: 1.2em;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  transition: .2s; }
  /* line 295, ../../src/scss/_base.scss */
  .blue-button:hover, .timeline .timeline-all:hover, .site-header .site-nav-c ul > li:hover:last-child, .blue-button:active, .timeline .timeline-all:active, .site-header .site-nav-c ul > li:active:last-child {
    color: #fff;
    background: #7102b2; }
  @media only screen and (min-width: 1024px) {
    /* line 284, ../../src/scss/_base.scss */
    .blue-button, .timeline .timeline-all, .site-header .site-nav-c ul > li:last-child {
      max-width: 18rem; } }

/* line 305, ../../src/scss/_base.scss */
.timeline {
  width: 100%;
  position: relative;
  margin: 2em 0; }
  /* line 310, ../../src/scss/_base.scss */
  .timeline .timeline-item {
    position: relative;
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ddd; }
    /* line 318, ../../src/scss/_base.scss */
    .timeline .timeline-item:last-child {
      border: 0; }
    /* line 322, ../../src/scss/_base.scss */
    .timeline .timeline-item img {
      width: 100%;
      height: auto; }
      @media only screen and (min-width: 1024px) {
        /* line 322, ../../src/scss/_base.scss */
        .timeline .timeline-item img {
          width: calc(40% - 1em);
          float: left;
          margin: .2em 1em 0 0; } }
    /* line 333, ../../src/scss/_base.scss */
    .timeline .timeline-item h3 {
      margin-top: 0;
      padding-top: 0; }
    /* line 338, ../../src/scss/_base.scss */
    .timeline .timeline-item .date {
      color: #6d6d6d;
      display: block;
      margin: 1em 0; }

/* line 1, ../../src/scss/_wordpress.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  /* line 7, ../../src/scss/_wordpress.scss */
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* line 16, ../../src/scss/_wordpress.scss */
div.wpcf7-response-output {
  clear: both; }

/* line 20, ../../src/scss/_wordpress.scss */
.wpcf7-validation-errors {
  border: 1px solid #ff0000 !important;
  background: #fff;
  color: #ff0000 !important;
  padding: 1em !important;
  margin-top: 4em !important;
  clear: both;
  box-sizing: border-box;
  width: 100%;
  margin: 0 !important; }

/* line 32, ../../src/scss/_wordpress.scss */
.wpcf7-not-valid {
  border: 1px solid #ff0000; }

/* line 36, ../../src/scss/_wordpress.scss */
.wpcf7-mail-sent-ok {
  background: #fff; }

/* line 40, ../../src/scss/_wordpress.scss */
.alignleft {
  max-width: 50%;
  float: left;
  margin: .3em 1em 1em 0;
  height: auto; }

/* line 47, ../../src/scss/_wordpress.scss */
.alignright {
  max-width: 50%;
  float: right;
  margin: .3em 0 1em 1em;
  height: auto; }

/* line 54, ../../src/scss/_wordpress.scss */
.aligncenter {
  display: block; }

/* line 58, ../../src/scss/_wordpress.scss */
.aligncenter, .alignnone {
  max-width: 100%;
  margin: 1em auto;
  height: auto; }

/* line 64, ../../src/scss/_wordpress.scss */
.clear:before, .timeline .timeline-item:before, .site-header:before, .site-header .header-wrap:before, #search:before, .site-footer:before, .home-intro .signup:before, .news:before, .news .news-list .news-item:before, #map-area .legend .grid-colors:before, #map-area .legend .grid-text:before, #map-area .popup:before, #voices .voice-slider:before, .article-inner article:before, .article-inner .image-divider:before, .form-page:before, .site-body form:before,
.clear:after,
.timeline .timeline-item:after,
.site-header:after,
.site-header .header-wrap:after,
#search:after,
.site-footer:after,
.home-intro .signup:after,
.news:after,
.news .news-list .news-item:after,
#map-area .legend .grid-colors:after,
#map-area .legend .grid-text:after,
#map-area .popup:after,
#voices .voice-slider:after,
.article-inner article:after,
.article-inner .image-divider:after,
.form-page:after,
.site-body form:after {
  content: " ";
  display: table; }

/* line 70, ../../src/scss/_wordpress.scss */
.clear:after, .timeline .timeline-item:after, .site-header:after, .site-header .header-wrap:after, #search:after, .site-footer:after, .home-intro .signup:after, .news:after, .news .news-list .news-item:after, #map-area .legend .grid-colors:after, #map-area .legend .grid-text:after, #map-area .popup:after, #voices .voice-slider:after, .article-inner article:after, .article-inner .image-divider:after, .form-page:after, .site-body form:after {
  clear: both; }

/* line 74, ../../src/scss/_wordpress.scss */
.error404 {
  padding-bottom: 2em;
  text-align: center; }

/* line 3, ../../src/scss/_header.scss */
.menu-item-has-children:after {
  display: none; }
  @media only screen and (min-width: 1024px) {
    /* line 3, ../../src/scss/_header.scss */
    .menu-item-has-children:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid #fff;
      display: inline-block;
      margin-bottom: 0;
      margin-left: .5em;
      transition: .2s;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%; } }
/* line 22, ../../src/scss/_header.scss */
.menu-item-has-children:hover:after, .menu-item-has-children:active:after {
  display: none; }
  @media only screen and (min-width: 1024px) {
    /* line 22, ../../src/scss/_header.scss */
    .menu-item-has-children:hover:after, .menu-item-has-children:active:after {
      content: "";
      border-left: 6px solid red;
      display: inline-block;
      margin-bottom: 0;
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); } }

/* line 37, ../../src/scss/_header.scss */
.site-header {
  background: #7102b2;
  z-index: 10;
  height: 8.6em;
  position: relative;
  z-index: 100;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); }
  /* line 46, ../../src/scss/_header.scss */
  .site-header .header-wrap {
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background: #7102b2;
    height: 8.6em; }
  /* line 55, ../../src/scss/_header.scss */
  .site-header .site-title {
    float: left;
    width: 10em;
    margin-top: 1em;
    margin-left: .6em;
    height: 7.5em; }
    @media only screen and (min-width: 783px) {
      /* line 55, ../../src/scss/_header.scss */
      .site-header .site-title {
        width: 12em; } }
    /* line 66, ../../src/scss/_header.scss */
    .site-header .site-title img {
      width: 100%; }
      @media only screen and (min-width: 1024px) {
        /* line 66, ../../src/scss/_header.scss */
        .site-header .site-title img {
          margin-left: 0; } }
  /* line 75, ../../src/scss/_header.scss */
  .site-header .site-nav-c {
    width: 100%;
    top: -30em;
    position: absolute;
    z-index: 0;
    left: 0;
    transition: .5s;
    /* Mobile basic */
    /* Desktop basic */
    /* 'Join Us' button */
    /* First level navigation */ }
    /* line 83, ../../src/scss/_header.scss */
    .site-header .site-nav-c.moving {
      top: -2em;
      opacity: 0; }
    /* line 89, ../../src/scss/_header.scss */
    .site-header .site-nav-c.active {
      top: 8.6em;
      background: rgba(0, 0, 0, 0.8);
      padding: 2em; }
      /* line 95, ../../src/scss/_header.scss */
      .site-header .site-nav-c.active ul li {
        display: block; }
        /* line 98, ../../src/scss/_header.scss */
        .site-header .site-nav-c.active ul li ul {
          margin-left: 1em;
          display: block;
          position: relative;
          background: transparent; }
    @media only screen and (min-width: 1024px) {
      /* line 75, ../../src/scss/_header.scss */
      .site-header .site-nav-c {
        text-align: right;
        margin: 1.5em 0 0 0;
        top: .6em;
        right: 6em;
        left: auto;
        z-index: 6;
        width: 50em; }
        /* line 122, ../../src/scss/_header.scss */
        .site-header .site-nav-c.active {
          top: 0; } }
    /* line 129, ../../src/scss/_header.scss */
    .site-header .site-nav-c ul > li:last-child {
      background: #ff4d1d;
      padding: 0 !important;
      max-width: 100%;
      display: block;
      margin-left: 0; }
      /* line 137, ../../src/scss/_header.scss */
      .site-header .site-nav-c ul > li:last-child a {
        color: #fff;
        display: block;
        padding: 1em 2em; }
      @media only screen and (min-width: 1024px) {
        /* line 129, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul > li:last-child {
          display: inline-block;
          margin-left: 2em;
          padding: 1em 2em; }
          /* line 147, ../../src/scss/_header.scss */
          .site-header .site-nav-c ul > li:last-child a {
            color: #fff; } }
      /* line 152, ../../src/scss/_header.scss */
      .site-header .site-nav-c ul > li:last-child:hover {
        background: #ddd; }
        /* line 155, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul > li:last-child:hover a {
          color: #000; }
      /* line 162, ../../src/scss/_header.scss */
      .site-header .site-nav-c ul > li:last-child ul.sub-menu li a {
        display: block;
        width: 100%;
        height: 100%;
        color: #6d6d6d !important; }
        /* line 168, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul > li:last-child ul.sub-menu li a:hover {
          color: #fff !important; }
    /* line 178, ../../src/scss/_header.scss */
    .site-header .site-nav-c ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      /* line 184, ../../src/scss/_header.scss */
      .site-header .site-nav-c ul > li.menu-item-has-children a {
        cursor: default; }
      @media only screen and (min-width: 1024px) {
        /* line 190, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul > li.menu-item-has-children:hover a {
          color: #000; }
        /* line 194, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul > li.menu-item-has-children:hover > a {
          color: #fff; } }
      /* line 201, ../../src/scss/_header.scss */
      .site-header .site-nav-c ul > li.menu-item-has-children ul li {
        cursor: pointer; }
        /* line 204, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul > li.menu-item-has-children ul li a {
          cursor: pointer; }
      /* line 211, ../../src/scss/_header.scss */
      .site-header .site-nav-c ul li {
        display: inline-block;
        position: relative;
        padding: 0 0 3em 0;
        /* Second level navigation */ }
        /* line 216, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul li span {
          display: inline-block; }
        @media only screen and (min-width: 1024px) {
          /* line 211, ../../src/scss/_header.scss */
          .site-header .site-nav-c ul li {
            padding: 0 1em 2em 1em; } }
        /* line 224, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul li a {
          text-transform: uppercase;
          color: #fff; }
        /* line 230, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul li:hover ul, .site-header .site-nav-c ul li:active ul {
          display: block; }
        /* line 234, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul li:hover > a, .site-header .site-nav-c ul li:active > a {
          color: #ff4d1d; }
        /* line 241, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul li.current_page_item > a {
          color: #ff4d1d; }
        /* line 247, ../../src/scss/_header.scss */
        .site-header .site-nav-c ul li ul {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          min-width: 100%;
          text-align: left;
          padding: 1em 0 0 0; }
          @media only screen and (min-width: 1024px) {
            /* line 247, ../../src/scss/_header.scss */
            .site-header .site-nav-c ul li ul {
              background: #f2f2f2;
              box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
              padding: 0; } }
          /* line 263, ../../src/scss/_header.scss */
          .site-header .site-nav-c ul li ul li {
            display: block;
            white-space: nowrap;
            margin: 0;
            padding: 0 0 1em 0; }
            @media only screen and (min-width: 1024px) {
              /* line 263, ../../src/scss/_header.scss */
              .site-header .site-nav-c ul li ul li {
                padding: 0;
                color: #6d6d6d;
                width: 100%; } }
            /* line 275, ../../src/scss/_header.scss */
            .site-header .site-nav-c ul li ul li:last-child {
              background: none;
              font-size: 1em;
              box-shadow: none;
              padding: 0;
              margin-left: 0;
              display: inline-block; }
              /* line 283, ../../src/scss/_header.scss */
              .site-header .site-nav-c ul li ul li:last-child a {
                color: #fff;
                padding: .5em 2em;
                display: block; }
                @media only screen and (min-width: 1024px) {
                  /* line 283, ../../src/scss/_header.scss */
                  .site-header .site-nav-c ul li ul li:last-child a {
                    color: #6d6d6d; } }
              /* line 294, ../../src/scss/_header.scss */
              .site-header .site-nav-c ul li ul li:last-child:hover {
                background: none; }
                @media only screen and (min-width: 1024px) {
                  /* line 294, ../../src/scss/_header.scss */
                  .site-header .site-nav-c ul li ul li:last-child:hover {
                    background: #ff4d1d; }
                    /* line 301, ../../src/scss/_header.scss */
                    .site-header .site-nav-c ul li ul li:last-child:hover a {
                      color: #fff; } }
              @media only screen and (min-width: 1024px) {
                /* line 275, ../../src/scss/_header.scss */
                .site-header .site-nav-c ul li ul li:last-child {
                  text-align: left; } }
            /* line 314, ../../src/scss/_header.scss */
            .site-header .site-nav-c ul li ul li a {
              color: #fff;
              text-transform: uppercase;
              display: block;
              padding: .5em 2em; }
              @media only screen and (min-width: 1024px) {
                /* line 314, ../../src/scss/_header.scss */
                .site-header .site-nav-c ul li ul li a {
                  color: #6d6d6d; } }
              /* line 324, ../../src/scss/_header.scss */
              .site-header .site-nav-c ul li ul li a:hover {
                color: #ff4d1d !important; }
            /* line 331, ../../src/scss/_header.scss */
            .site-header .site-nav-c ul li ul li:hover, .site-header .site-nav-c ul li ul li:active {
              background: none; }
              @media only screen and (min-width: 1024px) {
                /* line 331, ../../src/scss/_header.scss */
                .site-header .site-nav-c ul li ul li:hover, .site-header .site-nav-c ul li ul li:active {
                  background: #ff4d1d;
                  width: 100%; }
                  /* line 338, ../../src/scss/_header.scss */
                  .site-header .site-nav-c ul li ul li:hover > a, .site-header .site-nav-c ul li ul li:active > a {
                    color: #fff !important; } }
            /* line 345, ../../src/scss/_header.scss */
            .site-header .site-nav-c ul li ul li.current_page_item > a {
              color: #ff4d1d; }
              /* line 348, ../../src/scss/_header.scss */
              .site-header .site-nav-c ul li ul li.current_page_item > a:hover, .site-header .site-nav-c ul li ul li.current_page_item > a:active {
                color: #fff; }

/* line 361, ../../src/scss/_header.scss */
#hamburger {
  position: absolute;
  z-index: 501;
  top: 2.5em;
  right: 1em;
  background: #fff;
  padding: .5em;
  border-radius: 10px;
  width: 3em;
  height: 3em;
  transition: background 0s;
  cursor: pointer; }
  @media only screen and (min-width: 1024px) {
    /* line 361, ../../src/scss/_header.scss */
    #hamburger {
      display: none; } }
  /* line 378, ../../src/scss/_header.scss */
  #hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #000;
    margin-bottom: .5em;
    transition: .5s; }
    /* line 387, ../../src/scss/_header.scss */
    #hamburger span:first-child {
      margin-top: 4px; }
    /* line 391, ../../src/scss/_header.scss */
    #hamburger span:last-child {
      margin: 0; }
  /* line 396, ../../src/scss/_header.scss */
  #hamburger.active {
    background: #fff; }
    /* line 399, ../../src/scss/_header.scss */
    #hamburger.active span {
      background: #000;
      position: absolute;
      margin: 0; }
      /* line 404, ../../src/scss/_header.scss */
      #hamburger.active span:first-child {
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        position: absolute;
        top: .35em;
        left: .5em;
        bottom: auto; }
      /* line 413, ../../src/scss/_header.scss */
      #hamburger.active span:nth-child(2) {
        left: .3em;
        top: 1.45em;
        -ms-transform: scale(0);
        transform: scale(0); }
      /* line 419, ../../src/scss/_header.scss */
      #hamburger.active span:last-child {
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        bottom: .3em;
        left: .3em; }

/* line 430, ../../src/scss/_header.scss */
.s-trigger {
  display: block;
  color: #fff;
  cursor: pointer;
  background: url(../images/search-purple-header.png) no-repeat;
  padding-right: 2em;
  position: absolute;
  top: 2.9em;
  right: 6em;
  width: 2.2em;
  height: 2.2em;
  z-index: 900;
  background-size: 35px;
  background-position: 0 0;
  overflow: hidden;
  text-indent: -1000px; }
  @media only screen and (min-width: 1024px) {
    /* line 430, ../../src/scss/_header.scss */
    .s-trigger {
      margin-right: 1em;
      top: 3.2em;
      right: 0; } }
  /* line 453, ../../src/scss/_header.scss */
  .s-trigger:hover, .s-trigger:active {
    background-position: 0 -36px; }

/* line 458, ../../src/scss/_header.scss */
.s-close {
  color: #fff;
  display: none;
  margin-top: 1rem;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: .8em;
  right: 3.2em;
  z-index: 100; }
  /* line 469, ../../src/scss/_header.scss */
  .s-close:hover, .s-close:active {
    color: #ff4d1d; }
  @media only screen and (min-width: 1024px) {
    /* line 458, ../../src/scss/_header.scss */
    .s-close {
      top: 1em;
      right: .8em; } }

/* line 480, ../../src/scss/_header.scss */
#search {
  margin: 1em 0;
  width: calc(100% - 4em);
  max-width: 30em;
  display: none;
  position: absolute;
  z-index: 100;
  right: 2em;
  top: 1.8em; }
  @media only screen and (min-width: 783px) {
    /* line 480, ../../src/scss/_header.scss */
    #search {
      right: 6.8em; } }
  @media only screen and (min-width: 1024px) {
    /* line 480, ../../src/scss/_header.scss */
    #search {
      right: 3.5em;
      top: 2em; } }
  /* line 501, ../../src/scss/_header.scss */
  #search label {
    display: none; }
  /* line 505, ../../src/scss/_header.scss */
  #search input[type="text"] {
    padding: .5em 1em;
    width: 12em;
    float: left; }
    @media only screen and (min-width: 783px) {
      /* line 505, ../../src/scss/_header.scss */
      #search input[type="text"] {
        width: calc(100% - 2.5em); } }
  /* line 515, ../../src/scss/_header.scss */
  #search input[type="submit"] {
    width: 2em;
    height: 2.6em;
    float: left;
    margin-left: .5em;
    background: url(../images/search.png) no-repeat;
    overflow: hidden;
    border: 0;
    text-indent: -1000px;
    display: none; }

/* line 1, ../../src/scss/_footer.scss */
.site-footer {
  position: relative;
  background: #dddddd;
  padding: 0 0 2em 0;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  clear: both; }
  /* line 11, ../../src/scss/_footer.scss */
  .site-footer div.container {
    padding: 0 1rem;
    max-width: 75rem; }
  /* line 17, ../../src/scss/_footer.scss */
  .site-footer .footer-cta {
    width: 100%;
    text-align: center; }
    @media only screen and (min-width: 1024px) {
      /* line 17, ../../src/scss/_footer.scss */
      .site-footer .footer-cta {
        width: 50%;
        float: left;
        text-align: left; } }
    /* line 29, ../../src/scss/_footer.scss */
    .site-footer .footer-cta a.blue-button, .site-footer .footer-cta .timeline a.timeline-all, .timeline .site-footer .footer-cta a.timeline-all {
      border: none;
      width: 100%;
      max-width: 11em;
      margin: 0 auto;
      position: relative;
      padding-left: 3em; }
      @media only screen and (min-width: 1024px) {
        /* line 29, ../../src/scss/_footer.scss */
        .site-footer .footer-cta a.blue-button, .site-footer .footer-cta .timeline a.timeline-all, .timeline .site-footer .footer-cta a.timeline-all {
          width: 10em;
          float: left;
          margin-top: 1.2em; } }
      /* line 43, ../../src/scss/_footer.scss */
      .site-footer .footer-cta a.blue-button:before, .site-footer .footer-cta .timeline a.timeline-all:before, .timeline .site-footer .footer-cta a.timeline-all:before {
        content: "";
        display: block;
        width: 2em;
        height: 2em;
        position: absolute;
        z-index: 0;
        left: 1.8em;
        top: .8em;
        background: url(../images/logo-hand.png) no-repeat;
        background-size: contain;
        cursor: pointer; }
    /* line 59, ../../src/scss/_footer.scss */
    .site-footer .footer-cta h3 {
      font-size: 1.5em;
      font-weight: 300;
      margin-bottom: 1em; }
      @media only screen and (min-width: 1024px) {
        /* line 59, ../../src/scss/_footer.scss */
        .site-footer .footer-cta h3 {
          margin-bottom: 0;
          width: 11em;
          float: left;
          margin-right: .5em; } }
  /* line 74, ../../src/scss/_footer.scss */
  .site-footer .footer-social {
    width: 100%;
    text-align: center; }
    @media only screen and (min-width: 1024px) {
      /* line 74, ../../src/scss/_footer.scss */
      .site-footer .footer-social {
        width: 50%;
        float: left;
        text-align: right; } }
    /* line 84, ../../src/scss/_footer.scss */
    .site-footer .footer-social p {
      padding-top: 2em; }
      @media only screen and (min-width: 1024px) {
        /* line 84, ../../src/scss/_footer.scss */
        .site-footer .footer-social p {
          float: right;
          margin-right: 1em;
          text-align: right; } }
    /* line 94, ../../src/scss/_footer.scss */
    .site-footer .footer-social .facebook-link {
      width: 27px;
      height: 44px;
      background-image: url("../images/social-icons/social.png");
      background-size: 90px;
      background-position: -63px -44px;
      display: inline-block;
      margin-top: 2.5em;
      margin-left: 1em;
      margin-right: auto; }
      /* line 105, ../../src/scss/_footer.scss */
      .site-footer .footer-social .facebook-link:hover, .site-footer .footer-social .facebook-link:active {
        background-position: -63px 0; }
      @media only screen and (min-width: 1024px) {
        /* line 94, ../../src/scss/_footer.scss */
        .site-footer .footer-social .facebook-link {
          margin-right: 0; } }
    /* line 114, ../../src/scss/_footer.scss */
    .site-footer .footer-social .twitter-link {
      width: 45px;
      height: 40px;
      background-image: url("../images/social-icons/social.png");
      background-size: 94px;
      margin-top: 2.75em;
      display: inline-block;
      background-position: 0 -38px;
      margin-left: 1em;
      margin-right: auto; }
      /* line 125, ../../src/scss/_footer.scss */
      .site-footer .footer-social .twitter-link:hover, .site-footer .footer-social .twitter-link:active {
        background-position: 0 3px; }
      @media only screen and (min-width: 1024px) {
        /* line 114, ../../src/scss/_footer.scss */
        .site-footer .footer-social .twitter-link {
          margin-right: 0; } }
    @media only screen and (min-width: 1024px) {
      /* line 135, ../../src/scss/_footer.scss */
      .site-footer .footer-social a {
        float: right; } }

/* line 1, ../../src/scss/_home.scss */
.home-intro {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 400;
  padding: 3em 0;
  background: #fff; }
  /* line 9, ../../src/scss/_home.scss */
  .home-intro .container {
    max-width: 55rem; }
  /* line 13, ../../src/scss/_home.scss */
  .home-intro p {
    margin-top: 0;
    padding: 0 1em; }
    @media only screen and (min-width: 783px) {
      /* line 13, ../../src/scss/_home.scss */
      .home-intro p {
        padding: 0 4em; } }
    @media only screen and (min-width: 1024px) {
      /* line 13, ../../src/scss/_home.scss */
      .home-intro p {
        padding: 0; } }
  /* line 26, ../../src/scss/_home.scss */
  .home-intro #short-signup-errors {
    display: none;
    padding: 1em;
    border: 1px solid red;
    color: red;
    margin-bottom: 1em; }
    /* line 33, ../../src/scss/_home.scss */
    .home-intro #short-signup-errors.success {
      border: 1px solid #001299;
      color: #001299; }
  /* line 39, ../../src/scss/_home.scss */
  .home-intro .signup {
    margin: 0 auto;
    padding: 2em;
    position: relative; }
    /* line 45, ../../src/scss/_home.scss */
    .home-intro .signup label {
      display: block;
      text-transform: uppercase;
      width: 100%;
      margin: 0 0 1.5em 0;
      float: left;
      font-weight: 400;
      font-size: 1em !important; }
      @media only screen and (min-width: 1024px) {
        /* line 45, ../../src/scss/_home.scss */
        .home-intro .signup label {
          width: auto;
          font-size: 1.5em !important;
          margin: 0 1em 0 0;
          padding-top: .3em; } }
    /* line 62, ../../src/scss/_home.scss */
    .home-intro .signup input[type="text"] {
      display: block;
      margin-right: 1em;
      font-size: .6em;
      font-weight: normal;
      float: left;
      height: 3rem;
      padding: 0 1.5em;
      border: 1px solid #000; }
      @media only screen and (min-width: 1024px) {
        /* line 62, ../../src/scss/_home.scss */
        .home-intro .signup input[type="text"] {
          display: block;
          margin-right: 1em;
          font-size: .6em;
          font-weight: normal;
          float: left;
          height: 3rem;
          padding: 0 1.5em;
          border: 1px solid #000; } }
    /* line 85, ../../src/scss/_home.scss */
    .home-intro .signup input[name="join-email"] {
      width: 100%;
      margin-bottom: 1em; }
      @media only screen and (min-width: 600px) {
        /* line 85, ../../src/scss/_home.scss */
        .home-intro .signup input[name="join-email"] {
          width: calc(100% - 26em);
          margin-bottom: 0; } }
      @media only screen and (min-width: 1024px) {
        /* line 85, ../../src/scss/_home.scss */
        .home-intro .signup input[name="join-email"] {
          width: 16em; } }
    /* line 99, ../../src/scss/_home.scss */
    .home-intro .signup input[name="join-zip"] {
      width: 100%;
      margin-bottom: 1em; }
      @media only screen and (min-width: 600px) {
        /* line 99, ../../src/scss/_home.scss */
        .home-intro .signup input[name="join-zip"] {
          width: 12em;
          margin-bottom: 0; } }
    /* line 109, ../../src/scss/_home.scss */
    .home-intro .signup input[type="submit"] {
      display: block;
      border: 0;
      color: #fff;
      text-transform: uppercase;
      height: 3rem;
      width: 7em;
      padding-left: 3em;
      background: transparent !important; }
    /* line 121, ../../src/scss/_home.scss */
    .home-intro .signup #short-submit {
      display: block;
      position: relative;
      height: 3rem;
      width: 100%;
      float: left;
      background: #00c3ff;
      transition: .2s; }
      @media only screen and (min-width: 600px) {
        /* line 121, ../../src/scss/_home.scss */
        .home-intro .signup #short-submit {
          width: 7em; } }
      /* line 134, ../../src/scss/_home.scss */
      .home-intro .signup #short-submit:before {
        content: "";
        display: block;
        width: 2em;
        height: 2em;
        position: absolute;
        z-index: 0;
        left: .5em;
        top: .5em;
        background: url(../images/logo-hand.png) no-repeat;
        background-size: contain;
        cursor: pointer; }
      /* line 148, ../../src/scss/_home.scss */
      .home-intro .signup #short-submit:hover {
        background: #7102b2; }

/* line 157, ../../src/scss/_home.scss */
.social-feeds {
  width: 100%;
  float: left; }
  /* line 161, ../../src/scss/_home.scss */
  .social-feeds .faq-cta {
    padding-left: 0;
    text-align: center;
    margin-bottom: 4em; }
    @media only screen and (min-width: 1024px) {
      /* line 161, ../../src/scss/_home.scss */
      .social-feeds .faq-cta {
        padding-left: 2.5em;
        text-align: left; } }
  /* line 172, ../../src/scss/_home.scss */
  .social-feeds .share-block {
    background: #ddd;
    padding: 4em 3em; }
    @media only screen and (min-width: 1024px) {
      /* line 172, ../../src/scss/_home.scss */
      .social-feeds .share-block {
        padding: 4em 0em 4em 3.5em; } }
    /* line 180, ../../src/scss/_home.scss */
    .social-feeds .share-block img {
      width: 100%;
      margin-bottom: 1em; }
      @media only screen and (min-width: 1024px) {
        /* line 180, ../../src/scss/_home.scss */
        .social-feeds .share-block img {
          max-width: 18em; } }
  /* line 190, ../../src/scss/_home.scss */
  .social-feeds .feed-block {
    padding: 1em 3em;
    display: block; }
    @media only screen and (min-width: 600px) {
      /* line 190, ../../src/scss/_home.scss */
      .social-feeds .feed-block {
        margin: 0 auto; } }
    @media only screen and (min-width: 1024px) {
      /* line 190, ../../src/scss/_home.scss */
      .social-feeds .feed-block {
        padding: 1em 0em 1em 3.5em;
        display: inline-block; } }
    /* line 203, ../../src/scss/_home.scss */
    .social-feeds .feed-block .facebook-feed {
      width: 100%;
      margin-bottom: 2em; }
      @media only screen and (min-width: 783px) {
        /* line 203, ../../src/scss/_home.scss */
        .social-feeds .feed-block .facebook-feed {
          width: 50%;
          float: left;
          padding-right: 4%;
          margin-bottom: 0; } }
      @media only screen and (min-width: 1024px) {
        /* line 203, ../../src/scss/_home.scss */
        .social-feeds .feed-block .facebook-feed {
          width: 100%;
          height: 550px;
          padding-right: 0; } }
      /* line 220, ../../src/scss/_home.scss */
      .social-feeds .feed-block .facebook-feed a.blue-button, .social-feeds .feed-block .facebook-feed .timeline a.timeline-all, .timeline .social-feeds .feed-block .facebook-feed a.timeline-all {
        padding-left: 3em;
        position: relative; }
        /* line 224, ../../src/scss/_home.scss */
        .social-feeds .feed-block .facebook-feed a.blue-button:before, .social-feeds .feed-block .facebook-feed .timeline a.timeline-all:before, .timeline .social-feeds .feed-block .facebook-feed a.timeline-all:before {
          content: "";
          display: block;
          width: 2em;
          height: 2em;
          overflow: hidden;
          position: absolute;
          z-index: 0;
          left: 1em;
          top: .5em;
          background: url(../images/social-icons/social.png) no-repeat;
          background-position: -46px -79px;
          background-size: 80px;
          cursor: pointer; }
    /* line 242, ../../src/scss/_home.scss */
    .social-feeds .feed-block .twitter-box {
      height: 400px; }
    /* line 246, ../../src/scss/_home.scss */
    .social-feeds .feed-block .twitter-feed {
      width: 100%;
      margin-bottom: 2em; }
      @media only screen and (min-width: 783px) {
        /* line 246, ../../src/scss/_home.scss */
        .social-feeds .feed-block .twitter-feed {
          width: 50%;
          float: left;
          margin-bottom: 0; } }
      @media only screen and (min-width: 1024px) {
        /* line 246, ../../src/scss/_home.scss */
        .social-feeds .feed-block .twitter-feed {
          width: 100%; } }
      @media only screen and (min-width: 1450px) {
        /* line 246, ../../src/scss/_home.scss */
        .social-feeds .feed-block .twitter-feed {
          padding: 0; } }
      /* line 264, ../../src/scss/_home.scss */
      .social-feeds .feed-block .twitter-feed a.blue-button, .social-feeds .feed-block .twitter-feed .timeline a.timeline-all, .timeline .social-feeds .feed-block .twitter-feed a.timeline-all {
        padding-left: 3em;
        position: relative; }
        /* line 268, ../../src/scss/_home.scss */
        .social-feeds .feed-block .twitter-feed a.blue-button:before, .social-feeds .feed-block .twitter-feed .timeline a.timeline-all:before, .timeline .social-feeds .feed-block .twitter-feed a.timeline-all:before {
          content: "";
          display: block;
          width: 2em;
          height: 2em;
          overflow: hidden;
          position: absolute;
          z-index: 0;
          left: 1em;
          top: .7em;
          background: url(../images/social-icons/social.png) no-repeat;
          background-position: 0 -67px;
          background-size: 80px;
          cursor: pointer; }
    /* line 289, ../../src/scss/_home.scss */
    .social-feeds .feed-block .timeline .timeline-item img {
      width: 100%;
      float: none;
      margin: 0 0 1em 0; }
    /* line 298, ../../src/scss/_home.scss */
    .social-feeds .feed-block .blue-button, .social-feeds .feed-block .timeline .timeline-all, .timeline .social-feeds .feed-block .timeline-all, .social-feeds .feed-block .site-header .site-nav-c ul > li:last-child, .site-header .site-nav-c .social-feeds .feed-block ul > li:last-child {
      width: 100%;
      margin-bottom: 1rem;
      margin-top: 2rem; }
    /* line 305, ../../src/scss/_home.scss */
    .social-feeds .feed-block .margin-fixer {
      max-width: 100%; }
      @media only screen and (min-width: 1024px) {
        /* line 305, ../../src/scss/_home.scss */
        .social-feeds .feed-block .margin-fixer {
          max-width: 18em; } }
  @media only screen and (min-width: 1024px) {
    /* line 157, ../../src/scss/_home.scss */
    .social-feeds {
      width: 35%; } }

/* line 321, ../../src/scss/_home.scss */
.news {
  background: #f2f2f2; }
  /* line 325, ../../src/scss/_home.scss */
  .news .news-list {
    width: 100%;
    float: left;
    padding: 3em 1em 2em 1em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    background: #fff; }
    @media only screen and (min-width: 783px) {
      /* line 325, ../../src/scss/_home.scss */
      .news .news-list {
        padding: 3em 4em 2em 3em; } }
    @media only screen and (min-width: 1024px) {
      /* line 325, ../../src/scss/_home.scss */
      .news .news-list {
        width: 65%; } }
    /* line 343, ../../src/scss/_home.scss */
    .news .news-list .content-margin-fixer {
      max-width: 100%;
      margin: 0; }
      @media only screen and (min-width: 1024px) {
        /* line 343, ../../src/scss/_home.scss */
        .news .news-list .content-margin-fixer {
          max-width: 48em;
          margin: 0;
          float: right; } }
    /* line 354, ../../src/scss/_home.scss */
    .news .news-list .news-item {
      margin-bottom: 4em;
      padding-bottom: 4em;
      border-bottom: 2px solid #ddd; }
      @media only screen and (min-width: 1024px) {
        /* line 354, ../../src/scss/_home.scss */
        .news .news-list .news-item {
          margin-bottom: 4em;
          padding-bottom: 4em;
          border-bottom: 2px solid #ddd; } }
      /* line 366, ../../src/scss/_home.scss */
      .news .news-list .news-item:last-child {
        border: 0; }
      /* line 370, ../../src/scss/_home.scss */
      .news .news-list .news-item .image {
        width: 100%;
        height: 18em;
        float: left;
        margin: 0 2em 0 0;
        position: relative; }
        @media only screen and (min-width: 1024px) {
          /* line 370, ../../src/scss/_home.scss */
          .news .news-list .news-item .image {
            width: 35%;
            height: 18em;
            float: left;
            margin: 0 2em 0 0;
            position: relative; } }
      /* line 386, ../../src/scss/_home.scss */
      .news .news-list .news-item .news-blurb {
        width: 100%;
        float: left; }
        @media only screen and (min-width: 1024px) {
          /* line 386, ../../src/scss/_home.scss */
          .news .news-list .news-item .news-blurb {
            width: calc(65% - 2em);
            float: left; }
            /* line 393, ../../src/scss/_home.scss */
            .news .news-list .news-item .news-blurb.no-image {
              width: 100%;
              float: none; } }
        /* line 399, ../../src/scss/_home.scss */
        .news .news-list .news-item .news-blurb h2 {
          font-size: 1.8em; }
        /* line 403, ../../src/scss/_home.scss */
        .news .news-list .news-item .news-blurb .date {
          color: #6d6d6d; }
      /* line 408, ../../src/scss/_home.scss */
      .news .news-list .news-item .read-more {
        font-weight: bold;
        display: inline-block;
        position: relative; }
        /* line 413, ../../src/scss/_home.scss */
        .news .news-list .news-item .read-more:after {
          content: "";
          width: .5em;
          height: .5em;
          border-top: 2px solid #ff4d1d;
          border-right: 2px solid #ff4d1d;
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: .4em;
          right: -1em;
          transition: .2s; }
        /* line 427, ../../src/scss/_home.scss */
        .news .news-list .news-item .read-more:hover:after, .news .news-list .news-item .read-more:active:after {
          right: -1.2em;
          border-color: #7102b2; }

/* line 437, ../../src/scss/_home.scss */
.mobile-more {
  margin: 2em auto;
  max-width: 80%; }
  @media only screen and (min-width: 1024px) {
    /* line 437, ../../src/scss/_home.scss */
    .mobile-more {
      display: none; } }

/* line 446, ../../src/scss/_home.scss */
#map-area {
  position: relative; }
  /* line 449, ../../src/scss/_home.scss */
  #map-area h2 {
    width: 100%;
    text-align: center;
    color: #fff;
    background: #ff4d1d;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 1em 0;
    margin: 0;
    position: relative;
    z-index: 10; }
    @media only screen and (min-width: 1024px) {
      /* line 449, ../../src/scss/_home.scss */
      #map-area h2 {
        font-size: 1.8em; } }
  /* line 466, ../../src/scss/_home.scss */
  #map-area #map {
    width: 100%;
    height: 80vh; }
    @media only screen and (min-width: 1024px) {
      /* line 466, ../../src/scss/_home.scss */
      #map-area #map {
        width: 75%;
        float: left; } }
  /* line 476, ../../src/scss/_home.scss */
  #map-area .legend {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 1em;
    z-index: 99;
    width: 90%;
    max-width: 38em;
    font-size: .6em; }
    @media only screen and (min-width: 1024px) {
      /* line 476, ../../src/scss/_home.scss */
      #map-area .legend {
        font-size: 1em;
        position: relative;
        bottom: auto;
        left: auto;
        width: 25%;
        float: left;
        height: 80vh;
        padding: 3em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 1; } }
    /* line 500, ../../src/scss/_home.scss */
    #map-area .legend strong {
      display: block;
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 2px solid #ddd;
      text-transform: uppercase; }
    /* line 508, ../../src/scss/_home.scss */
    #map-area .legend a.legend-more {
      display: none; }
      @media only screen and (min-width: 1024px) {
        /* line 508, ../../src/scss/_home.scss */
        #map-area .legend a.legend-more {
          display: block;
          margin-top: 1em; } }
    /* line 517, ../../src/scss/_home.scss */
    #map-area .legend .legend-dots {
      display: none; }
      @media only screen and (min-width: 1024px) {
        /* line 517, ../../src/scss/_home.scss */
        #map-area .legend .legend-dots {
          display: block;
          margin-top: 2em; }
          /* line 524, ../../src/scss/_home.scss */
          #map-area .legend .legend-dots .dot-item {
            position: relative;
            margin-bottom: 2em;
            padding-left: 3em; }
            /* line 529, ../../src/scss/_home.scss */
            #map-area .legend .legend-dots .dot-item .dot {
              position: absolute;
              top: 0;
              left: 0;
              width: 1.5em;
              height: 1.5em;
              border-radius: 50%; }
              /* line 537, ../../src/scss/_home.scss */
              #map-area .legend .legend-dots .dot-item .dot:before {
                content: "";
                width: .5em;
                height: .5em;
                position: absolute;
                top: .5em;
                left: .5em;
                background: #fff;
                border-radius: 50%; } }
    @media only screen and (min-width: 1024px) {
      /* line 552, ../../src/scss/_home.scss */
      #map-area .legend .grid-colors, #map-area .legend .grid-text {
        display: none; } }
    /* line 560, ../../src/scss/_home.scss */
    #map-area .legend .column {
      width: 25%;
      float: left;
      height: 1em;
      text-align: center; }
      /* line 566, ../../src/scss/_home.scss */
      #map-area .legend .column.won {
        background: #ff4d1d; }
      /* line 570, ../../src/scss/_home.scss */
      #map-area .legend .column.filed {
        background: #7102b2; }
      /* line 574, ../../src/scss/_home.scss */
      #map-area .legend .column.impounded {
        background: #4fc646; }
      /* line 578, ../../src/scss/_home.scss */
      #map-area .legend .column.campaign {
        background: #000; }
  /* line 587, ../../src/scss/_home.scss */
  #map-area .popup h2 {
    background: transparent;
    text-align: left;
    font-size: 1.2em;
    color: #000;
    margin-top: 0;
    padding: 0;
    width: calc(100% - 2em);
    text-transform: none; }
  /* line 598, ../../src/scss/_home.scss */
  #map-area .popup h3 {
    font-size: 1em; }
  /* line 603, ../../src/scss/_home.scss */
  #map-area .popup .popup-image img {
    width: 100%;
    margin: 0 0 1em 0; }
  /* line 608, ../../src/scss/_home.scss */
  #map-area .popup .popup-image p {
    width: 100%;
    margin-top: 0;
    font-size: .8rem;
    line-height: 1rem; }
  /* line 618, ../../src/scss/_home.scss */
  #map-area .popup.no-image .popup-image img {
    display: none; }
  /* line 622, ../../src/scss/_home.scss */
  #map-area .popup.no-image .popup-image p {
    width: 100%;
    float: none; }
  /* line 629, ../../src/scss/_home.scss */
  #map-area .popup .popup-close {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 1;
    font-weight: bold;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    text-align: center; }

/*
div.leaflet-popup{
	margin-left:-200px;
	margin-top:35px;
}

div.leaflet-popup-tip-container{
	position:absolute;
	right:-1.2em;
	top:50%;
	margin-top:-.5em;

	.leaflet-popup-tip{
		transform:rotate(-90deg);
	}
}*/
/* line 661, ../../src/scss/_home.scss */
.leaflet-marker-icon {
  width: 1em;
  height: 1.5em; }
  /* line 665, ../../src/scss/_home.scss */
  .leaflet-marker-icon:after {
    content: "";
    width: 2em;
    height: 3em;
    display: block;
    position: absolute;
    top: -60px;
    left: -30px;
    transition: .2s; }
  /* line 679, ../../src/scss/_home.scss */
  .leaflet-marker-icon.won:after {
    width: 70px;
    height: 70px;
    background-image: url(../images/map-points/faculty-pin.png);
    background-size: 70px;
    background-position: 0px 0px;
    background-repeat: no-repeat; }
  /* line 690, ../../src/scss/_home.scss */
  .leaflet-marker-icon.filed:after {
    width: 70px;
    height: 70px;
    background-image: url(../images/map-points/grad-student-pin.png);
    background-size: 70px;
    background-position: 0px 0px;
    background-repeat: no-repeat; }
  /* line 701, ../../src/scss/_home.scss */
  .leaflet-marker-icon.impounded:after {
    width: 70px;
    height: 70px;
    background-image: url(../images/map-points/adjunct-pin.png);
    background-size: 70px;
    background-position: 0px 0px;
    background-repeat: no-repeat; }
  /* line 712, ../../src/scss/_home.scss */
  .leaflet-marker-icon.campaign:after {
    width: 70px;
    height: 70px;
    background-image: url(../images/map-points/campaign-pin.png);
    background-size: 70px;
    background-position: 0px 0px;
    background-repeat: no-repeat; }
  /* line 723, ../../src/scss/_home.scss */
  .leaflet-marker-icon.selectedMarker:after {
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

/* line 729, ../../src/scss/_home.scss */
#voices {
  width: 100%;
  position: relative;
  overflow: hidden; }
  /* line 734, ../../src/scss/_home.scss */
  #voices h2 {
    width: 100%;
    text-align: center;
    color: #fff;
    background: #ff4d1d;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 1em 0;
    margin: 0;
    position: relative;
    z-index: 10; }
    @media only screen and (min-width: 1024px) {
      /* line 734, ../../src/scss/_home.scss */
      #voices h2 {
        font-size: 1.8em; } }
  /* line 751, ../../src/scss/_home.scss */
  #voices .voice-slider {
    width: 5000px; }
  /* line 756, ../../src/scss/_home.scss */
  #voices .vm-left {
    position: absolute;
    top: 50%;
    left: 0;
    width: 3em;
    height: 4em;
    margin-top: -1em;
    display: none;
    z-index: 800;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em; }
    @media only screen and (min-width: 783px) {
      /* line 756, ../../src/scss/_home.scss */
      #voices .vm-left {
        display: block; } }
    /* line 773, ../../src/scss/_home.scss */
    #voices .vm-left:before {
      content: "";
      display: block;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 2em;
      height: 2em; }
    /* line 784, ../../src/scss/_home.scss */
    #voices .vm-left:hover:before, #voices .vm-left:active:before {
      border-top: 2px solid #ff4d1d;
      border-left: 2px solid #ff4d1d; }
  /* line 791, ../../src/scss/_home.scss */
  #voices .vm-right {
    position: absolute;
    top: 50%;
    right: 0;
    width: 3em;
    height: 4em;
    margin-top: -1em;
    display: none;
    z-index: 800;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em; }
    @media only screen and (min-width: 783px) {
      /* line 791, ../../src/scss/_home.scss */
      #voices .vm-right {
        display: block; } }
    /* line 808, ../../src/scss/_home.scss */
    #voices .vm-right:before {
      content: "";
      display: block;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 2em;
      height: 2em;
      margin-left: -1em; }
    /* line 820, ../../src/scss/_home.scss */
    #voices .vm-right:hover:before, #voices .vm-right:active:before {
      border-top: 2px solid #ff4d1d;
      border-right: 2px solid #ff4d1d; }
  /* line 827, ../../src/scss/_home.scss */
  #voices .voice {
    position: relative;
    margin-bottom: 1em; }
    /* line 831, ../../src/scss/_home.scss */
    #voices .voice.hide-mobile {
      display: none; }
    /* line 835, ../../src/scss/_home.scss */
    #voices .voice .mobile-image {
      width: 100%;
      margin-bottom: -1em; }
    @media only screen and (min-width: 783px) {
      /* line 827, ../../src/scss/_home.scss */
      #voices .voice {
        float: left;
        height: 24em;
        width: 50vw;
        margin-bottom: 0; }
        /* line 846, ../../src/scss/_home.scss */
        #voices .voice .mobile-image {
          display: none; }
        /* line 850, ../../src/scss/_home.scss */
        #voices .voice.hide-mobile {
          display: block; } }
    @media only screen and (min-width: 1024px) {
      /* line 827, ../../src/scss/_home.scss */
      #voices .voice {
        width: 33vw; } }
    @media only screen and (min-width: 1450px) {
      /* line 827, ../../src/scss/_home.scss */
      #voices .voice {
        width: 25vw; } }
    /* line 863, ../../src/scss/_home.scss */
    #voices .voice .voice-overlay {
      padding: 1em;
      font-style: italic;
      transition: .5s;
      background: #fff; }
      @media only screen and (min-width: 783px) {
        /* line 863, ../../src/scss/_home.scss */
        #voices .voice .voice-overlay {
          position: absolute;
          z-index: 1;
          background: rgba(0, 0, 0, 0.8);
          color: #fff;
          width: 100%;
          height: 100%;
          overflow: auto;
          top: 0;
          left: 0;
          opacity: 0;
          cursor: pointer; } }
      /* line 883, ../../src/scss/_home.scss */
      #voices .voice .voice-overlay .voice-name {
        font-style: normal;
        display: block;
        font-weight: 700;
        margin-top: 1em; }
      /* line 890, ../../src/scss/_home.scss */
      #voices .voice .voice-overlay .voice-long {
        display: none; }
    /* line 896, ../../src/scss/_home.scss */
    #voices .voice:hover .voice-overlay, #voices .voice:active .voice-overlay {
      opacity: 1; }

/* line 903, ../../src/scss/_home.scss */
#voice-popup {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 800;
  padding: 5vh 0;
  top: 0;
  left: 0; }
  @media only screen and (min-width: 783px) {
    /* line 903, ../../src/scss/_home.scss */
    #voice-popup {
      padding: 10vh 0; } }
  /* line 918, ../../src/scss/_home.scss */
  #voice-popup .popup-trigger {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  /* line 927, ../../src/scss/_home.scss */
  #voice-popup #voice-popup-wrapper {
    width: 90vw;
    height: 90vh;
    background: #fff;
    position: relative;
    margin: 0 auto;
    max-width: 45em;
    z-index: 1; }
    @media only screen and (min-width: 783px) {
      /* line 927, ../../src/scss/_home.scss */
      #voice-popup #voice-popup-wrapper {
        width: 80vw;
        height: 80vh; } }
    /* line 941, ../../src/scss/_home.scss */
    #voice-popup #voice-popup-wrapper #voice-popup-contents {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: scroll;
      background: #fff; }
      /* line 950, ../../src/scss/_home.scss */
      #voice-popup #voice-popup-wrapper #voice-popup-contents .popup-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 1em;
        background: #fff;
        display: none; }
        /* line 960, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper #voice-popup-contents .popup-inner img {
          width: 50%;
          float: left;
          margin: 1.4em 1em 0 0; }
        /* line 966, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper #voice-popup-contents .popup-inner p {
          font-style: italic; }
        /* line 970, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper #voice-popup-contents .popup-inner .voice-short {
          display: none; }
        /* line 974, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper #voice-popup-contents .popup-inner .voice-long {
          display: block; }
        /* line 978, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper #voice-popup-contents .popup-inner .voice-name {
          font-weight: bold;
          margin-bottom: 1em;
          clear: both; }
        /* line 984, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper #voice-popup-contents .popup-inner.transition {
          z-index: 0; }
        /* line 988, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper #voice-popup-contents .popup-inner.new {
          z-index: 2; }
    /* line 994, ../../src/scss/_home.scss */
    #voice-popup #voice-popup-wrapper .voice-prev {
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      width: 2em;
      height: 2em;
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      position: absolute;
      top: 8em;
      left: 2.5em;
      display: block;
      cursor: pointer;
      z-index: 100; }
      @media only screen and (min-width: 783px) {
        /* line 994, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper .voice-prev {
          width: 3em;
          height: 3em;
          top: 50%;
          left: -3em;
          margin-top: -1.5em; } }
      /* line 1015, ../../src/scss/_home.scss */
      #voice-popup #voice-popup-wrapper .voice-prev:hover, #voice-popup #voice-popup-wrapper .voice-prev:active {
        border-top: 2px solid #ff4d1d;
        border-left: 2px solid #ff4d1d; }
    /* line 1021, ../../src/scss/_home.scss */
    #voice-popup #voice-popup-wrapper .voice-next {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      width: 2em;
      height: 2em;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 8em;
      right: 2.5em;
      display: block;
      cursor: pointer;
      z-index: 100; }
      @media only screen and (min-width: 783px) {
        /* line 1021, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper .voice-next {
          width: 3em;
          height: 3em;
          top: 50%;
          right: -3em;
          margin-top: -1.5em; } }
      /* line 1042, ../../src/scss/_home.scss */
      #voice-popup #voice-popup-wrapper .voice-next:hover, #voice-popup #voice-popup-wrapper .voice-next:active {
        border-top: 2px solid #ff4d1d;
        border-right: 2px solid #ff4d1d; }
    /* line 1048, ../../src/scss/_home.scss */
    #voice-popup #voice-popup-wrapper .voice-close {
      position: absolute;
      top: .4em;
      right: 1.2em;
      display: block;
      color: #000;
      text-transform: uppercase;
      font-size: 2em;
      cursor: pointer;
      z-index: 100; }
      @media only screen and (min-width: 783px) {
        /* line 1048, ../../src/scss/_home.scss */
        #voice-popup #voice-popup-wrapper .voice-close {
          top: 0;
          right: -2rem;
          color: #fff; } }
      /* line 1065, ../../src/scss/_home.scss */
      #voice-popup #voice-popup-wrapper .voice-close:hover, #voice-popup #voice-popup-wrapper .voice-close:active {
        color: #ff4d1d; }

/* Adding background to facebook feed */
/* line 1073, ../../src/scss/_home.scss */
div#cff {
  background-color: #fff; }

/* line 1077, ../../src/scss/_home.scss */
.accordion {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 1082, ../../src/scss/_home.scss */
  .accordion li {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 1em;
    border: 1px solid #ddd;
    cursor: pointer;
    background: linear-gradient(to bottom, #fff 10%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='$c-lightgrey',GradientType=0 ); }
    /* line 1091, ../../src/scss/_home.scss */
    .accordion li h3 {
      color: #ff4d1d;
      padding-right: 2rem;
      position: relative; }
      /* line 1096, ../../src/scss/_home.scss */
      .accordion li h3:before {
        content: "";
        display: block;
        height: 1.1em;
        width: 5px;
        position: absolute;
        top: 0;
        right: .4em;
        z-index: 1;
        background: #ff4d1d; }
      /* line 1108, ../../src/scss/_home.scss */
      .accordion li h3:after {
        content: "";
        display: block;
        width: 1em;
        height: 5px;
        position: absolute;
        top: .4em;
        right: 0;
        z-index: 1;
        background: #ff4d1d; }
      /* line 1120, ../../src/scss/_home.scss */
      .accordion li h3:hover, .accordion li h3:active {
        color: #7102b2; }
        /* line 1123, ../../src/scss/_home.scss */
        .accordion li h3:hover:before, .accordion li h3:hover:after, .accordion li h3:active:before, .accordion li h3:active:after {
          background: #7102b2; }
    /* line 1129, ../../src/scss/_home.scss */
    .accordion li .answer {
      display: none;
      margin-top: 1em; }
    /* line 1137, ../../src/scss/_home.scss */
    .accordion li.active h3:before {
      display: none; }
    /* line 1142, ../../src/scss/_home.scss */
    .accordion li.active .answer {
      display: block; }

/* line 1, ../../src/scss/_article.scss */
.hero {
  height: 25em;
  position: relative;
  /*box-shadow:inset 0 0 0 2000px rgba(0,0,0,.4);*/ }
  /* line 6, ../../src/scss/_article.scss */
  .hero:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); }
  @media only screen and (min-width: 600px) {
    /* line 1, ../../src/scss/_article.scss */
    .hero {
      height: 65vh; } }
  /* line 20, ../../src/scss/_article.scss */
  .hero .container {
    height: 100%; }
  /* line 24, ../../src/scss/_article.scss */
  .hero h1 {
    text-align: center;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 2rem; }
    @media only screen and (min-width: 600px) {
      /* line 24, ../../src/scss/_article.scss */
      .hero h1 {
        font-size: 4em; } }

/* line 47, ../../src/scss/_article.scss */
.article-inner article {
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 3em 1em 2em 1em; }
  @media only screen and (min-width: 783px) {
    /* line 47, ../../src/scss/_article.scss */
    .article-inner article {
      padding: 3em 4em 2em 3em; } }
  @media only screen and (min-width: 1024px) {
    /* line 47, ../../src/scss/_article.scss */
    .article-inner article {
      width: 65%;
      float: left; } }
  /* line 63, ../../src/scss/_article.scss */
  .article-inner article .content-margin-fixer {
    max-width: 100%;
    margin: 0; }
    @media only screen and (min-width: 1024px) {
      /* line 63, ../../src/scss/_article.scss */
      .article-inner article .content-margin-fixer {
        max-width: 45em;
        margin: 0;
        float: right; } }
/* line 78, ../../src/scss/_article.scss */
.article-inner .image-divider .div-image {
  width: 100%;
  height: 12em; }
@media only screen and (min-width: 600px) {
  /* line 85, ../../src/scss/_article.scss */
  .article-inner .image-divider.total-2 .div-image {
    width: 50%;
    float: left; }
  /* line 92, ../../src/scss/_article.scss */
  .article-inner .image-divider.total-3 .div-image {
    width: 33.33%;
    float: left; } }
/* line 100, ../../src/scss/_article.scss */
.article-inner .article-content {
  width: 100%; }
  /* line 104, ../../src/scss/_article.scss */
  .article-inner .article-content h2 {
    color: #ff4d1d;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2em; }
  /* line 112, ../../src/scss/_article.scss */
  .article-inner .article-content div.container {
    padding: 0 1.5em; }
    @media only screen and (min-width: 600px) {
      /* line 112, ../../src/scss/_article.scss */
      .article-inner .article-content div.container {
        padding: 0; } }
  /* line 121, ../../src/scss/_article.scss */
  .article-inner .article-content p {
    font-size: 1.2em; }
    @media only screen and (min-width: 600px) {
      /* line 121, ../../src/scss/_article.scss */
      .article-inner .article-content p {
        font-size: 1.1em; } }

/* line 1, ../../src/scss/_blog.scss */
.pagination {
  clear: both;
  margin: 1em 0;
  padding: 0;
  text-align: center; }
  /* line 7, ../../src/scss/_blog.scss */
  .pagination li {
    display: inline-block;
    list-style: none;
    font-size: .95em;
    margin: 0 .1em 1em;
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    border-radius: 5px;
    background: linear-gradient(to bottom, #d1d1d1 10%, #ddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='$c-grey',GradientType=0 );
    transition: .2s; }
    /* line 19, ../../src/scss/_blog.scss */
    .pagination li.current {
      padding: .5em .8em;
      color: #fff;
      box-shadow: inset -1px -1px 8px rgba(0, 0, 0, 0.3);
      background: #7102b2; }
    /* line 26, ../../src/scss/_blog.scss */
    .pagination li.next a {
      background-image: url(../images/arrows.png);
      background-position: -41px -35px;
      padding-right: 1.3em; }
    /* line 32, ../../src/scss/_blog.scss */
    .pagination li.previous a {
      background-image: url(../images/arrows.png);
      background-position: 0 -35px;
      padding-right: 1.3em; }
    /* line 38, ../../src/scss/_blog.scss */
    .pagination li.last a {
      background-image: url(../images/arrows.png);
      background-position: -41px 0;
      padding-right: 1.3em; }
    /* line 44, ../../src/scss/_blog.scss */
    .pagination li.first a {
      background-image: url(../images/arrows.png);
      background-position: 0 0;
      padding-right: 1.3em; }
    /* line 50, ../../src/scss/_blog.scss */
    .pagination li a {
      display: block;
      padding: .5em .8em;
      color: #6d6d6d;
      cursor: pointer; }
      /* line 56, ../../src/scss/_blog.scss */
      .pagination li a:hover, .pagination li a:active {
        color: #fff;
        box-shadow: inset -1px -1px 8px rgba(0, 0, 0, 0.3);
        background-color: #7102b2;
        text-decoration: none;
        border-radius: 5px; }

/* line 1, ../../src/scss/_form.scss */
.form-page {
  background: #fff; }
  /* line 5, ../../src/scss/_form.scss */
  .form-page .form-left {
    width: 100%;
    margin-bottom: 2em;
    padding: 0 1em; }
    @media only screen and (min-width: 1250px) {
      /* line 5, ../../src/scss/_form.scss */
      .form-page .form-left {
        padding: 0; } }
    @media only screen and (min-width: 783px) {
      /* line 5, ../../src/scss/_form.scss */
      .form-page .form-left {
        width: 50%;
        float: left;
        padding-right: 2em;
        margin: 0; }
        /* line 20, ../../src/scss/_form.scss */
        .form-page .form-left h1 {
          margin-top: 4rem; } }
  /* line 26, ../../src/scss/_form.scss */
  .form-page .form-right {
    width: 100%;
    background: #00c3ff;
    padding: 0 1em; }
    @media only screen and (min-width: 1250px) {
      /* line 26, ../../src/scss/_form.scss */
      .form-page .form-right {
        padding: 0; } }
    @media only screen and (min-width: 783px) {
      /* line 26, ../../src/scss/_form.scss */
      .form-page .form-right {
        width: 50%;
        float: left;
        padding: 0 2em;
        margin: 0; } }
    /* line 45, ../../src/scss/_form.scss */
    .form-page .form-right div.gform_wrapper form input[type="submit"] {
      background: #7102b2;
      color: #fff;
      transition: .5s; }
      /* line 50, ../../src/scss/_form.scss */
      .form-page .form-right div.gform_wrapper form input[type="submit"]:active, .form-page .form-right div.gform_wrapper form input[type="submit"]:hover {
        background: #ff4d1d;
        color: #fff; }
    /* line 57, ../../src/scss/_form.scss */
    .form-page .form-right div.gform_wrapper form ul li {
      margin-right: 0;
      padding-right: 0 !important; }
    /* line 63, ../../src/scss/_form.scss */
    .form-page .form-right div.gform_wrapper form label {
      color: #000; }
    /* line 67, ../../src/scss/_form.scss */
    .form-page .form-right div.gform_wrapper form .validation_message {
      color: #fff200; }
    /* line 71, ../../src/scss/_form.scss */
    .form-page .form-right div.gform_wrapper form .gfield_required {
      color: #ff4d1d; }
    /* line 80, ../../src/scss/_form.scss */
    .form-page .form-right div.gform_wrapper form .gform_body ul li.gfield.gfield_error {
      background-color: rgba(255, 223, 224, 0.25);
      margin-bottom: 6px !important;
      border-top: 1px solid #fff200;
      border-bottom: 1px solid #fff200;
      padding-bottom: 6px;
      padding-top: 8px; }
      /* line 88, ../../src/scss/_form.scss */
      .form-page .form-right div.gform_wrapper form .gform_body ul li.gfield.gfield_error:not(.gf_left_half) {
        max-width: 100% !important; }
      /* line 91, ../../src/scss/_form.scss */
      .form-page .form-right div.gform_wrapper form .gform_body ul li.gfield.gfield_error:not(.gf_right_half) {
        max-width: 100% !important; }
      /* line 95, ../../src/scss/_form.scss */
      .form-page .form-right div.gform_wrapper form .gform_body ul li.gfield.gfield_error label {
        color: #000; }
    /* line 111, ../../src/scss/_form.scss */
    .form-page .form-right div.gform_wrapper div.validation_error {
      color: #fff200;
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 25px;
      border-top: 2px solid #fff200;
      border-bottom: 2px solid #fff200;
      padding: 16px 0;
      clear: both;
      width: 100%;
      text-align: center; }

/* line 127, ../../src/scss/_form.scss */
.gform_confirmation_message {
  padding: 2em;
  color: #fff; }
  @media only screen and (min-width: 783px) {
    /* line 127, ../../src/scss/_form.scss */
    .gform_confirmation_message {
      min-height: 40em; } }

/* line 136, ../../src/scss/_form.scss */
.site-body form {
  margin: 0 auto;
  padding: 2em 0;
  position: relative; }
  /* line 145, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li input[name="input_2"] {
    width: 100%; }
  /* line 149, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li span.name_first {
    float: none;
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      /* line 149, ../../src/scss/_form.scss */
      .site-body form .gform_body .gform_fields li span.name_first {
        width: 50%; } }
  /* line 157, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li span.name_last {
    float: none;
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      /* line 157, ../../src/scss/_form.scss */
      .site-body form .gform_body .gform_fields li span.name_last {
        width: 50%; } }
  /* line 165, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li #input_1_10 {
    width: 100%; }
  /* line 169, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li input[name="input_4"] {
    width: 100%; }
  /* line 173, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li input[name="input_5"] {
    width: 100%; }
  /* line 177, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li input[name="input_6"] {
    width: 100%; }
  /* line 181, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li input[name="input_7"] {
    width: 100%; }
  /* line 185, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li input[type="checkbox"] {
    margin-top: -1px; }
  /* line 190, ../../src/scss/_form.scss */
  .site-body form .gform_body .gform_fields li #input_1_9 #choice_1_9_0 {
    height: 2em; }
  /* line 199, ../../src/scss/_form.scss */
  .site-body form label {
    text-transform: uppercase;
    font-size: .8em !important; }
  /* line 204, ../../src/scss/_form.scss */
  .site-body form input[type="submit"] {
    display: block;
    background: #00c3ff;
    border: 0;
    color: #fff;
    float: left;
    text-transform: uppercase;
    transition: .2s;
    height: 3rem;
    padding: 0em 5em; }
    /* line 215, ../../src/scss/_form.scss */
    .site-body form input[type="submit"]:hover {
      background: #001299; }

/* line 222, ../../src/scss/_form.scss */
.page-template-page-form .footer-cta {
  display: none; }
  @media only screen and (min-width: 1024px) {
    /* line 222, ../../src/scss/_form.scss */
    .page-template-page-form .footer-cta {
      display: block; } }

/*# sourceMappingURL=main.css.map */